<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.account.ifmanager.dao.MisApiKeyMapper">
    <resultMap id="BaseResultMap" type="cn.cityre.mis.account.ifmanager.entity.MisApiKeyPo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="apiKey" property="apiKey" jdbcType="VARCHAR"/>
        <result column="scopeMask" property="scopeMask" jdbcType="INTEGER"/>
        <result column="limitMap" property="limitMap"  jdbcType="VARCHAR"/>
        <result column="blackList" property="blackList" jdbcType="VARCHAR"/>
        <result column="whiteList" property="whiteList"  jdbcType="VARCHAR" />
        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="productCode" property="productCode" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="VARCHAR"/>
        <result column="isValid" property="isValid"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
        <result column="expireTime" property="expireTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--v2017_api_key：增改查删（逻辑删）-->
    <sql id="Base_Column">
        apikey,scopeMask,limitMap,blackList,whiteList,note,productCode,version,isValid,createTime,expireTime
    </sql>

    <select id="selectByPage" resultMap="BaseResultMap">
        SELECT id,
        <include refid="Base_Column"/>
        FROM v2017_api_key
    </select>

    <select id="selectAllApiKey" resultMap="BaseResultMap">
        SELECT id,
        <include refid="Base_Column"/>
        FROM v2017_api_key
    </select>
    <!--//根据key查-->
    <select id="selectByKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column"/>
        FROM v2017_api_key
        WHERE id=#{id,jdbcType=INTEGER}
    </select>

    <update id="updateByKey" parameterType="cn.cityre.mis.account.ifmanager.entity.MisApiKeyPo">
        UPDATE v2017_api_key
        <set>
            <if test="scopeMask!=null">
                scopeMask = #{scopeMask,jdbcType=INTEGER},
            </if>
            <if test="limitMap!=null">
            limitMap = #{limitMap,jdbcType=VARCHAR},
            </if>
            <if test="blackList!=null">
            blackList=#{blackList,jdbcType=VARCHAR},
            </if>
            <if test="whiteList!=null">
            whiteList=#{whiteList,jdbcType=VARCHAR},
            </if>
            <if test="note!=null">
                note = #{note,jdbcType=VARCHAR},
            </if>
            <if test="version!=null">
                version = #{note,jdbcType=VARCHAR},
            </if>
            <if test="isValid!=null">
                isValid = #{isValid,jdbcType=TINYINT},
            </if>
            <if test="expireTime!=null">
                expireTime = #{expireTime,jdbcType = TIMESTAMP},
            </if>

        </set>
        WHERE apiKey = #{apiKey,jdbcType=VARCHAR}
    </update>
    <!--//真实删除-->
    <delete id="deleteByKey" parameterType="java.lang.String">
        DELETE FROM v2017_api_key WHERE apiKey = #{apikey,jdbcType=VARCHAR}
    </delete>
    <!--逻辑删除-->
    <update id="logicDeleteById" parameterType="java.lang.Integer">
        UPDATE v2017_api_key set isValid = 0 WHERE  id = #{id,jdbcType=INTEGER}
    </update>


    <insert id="createApiKey" parameterType="cn.cityre.mis.account.ifmanager.entity.MisApiKeyPo">
        INSERT INTO v2017_api_key
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="apiKey!=null">
                apiKey,
            </if>
            <if test="scopeMask!=null">
                scopeMask,
            </if>
            <!--<if test="limitMap!=null">-->
            <!--limitMap,-->
            <!--</if>-->
            <!--<if test="blackList!=null">-->
            <!--blackList,-->
            <!--</if>-->
            <!--<if test="whiteList!=null">-->
            <!--whiteList,-->
            <!--</if>-->
            <if test="note!=null">
                note,
            </if>
            <if test="version!=null">
                version,
            </if>
            <if test="isValid!=null">
                isValid,
            </if>
                createTime,
                expireTime,
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="apiKey!=null">
                #{apiKey,jdbcType=VARCHAR},
            </if>
            <if test="scopeMask!=null">
                #{scopeMask,jdbcType=INTEGER},
            </if>
            <!--<if test="limitMap!=null">-->
            <!--#{limitMap,javaType=java.util.List,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="blackList!=null">-->
            <!--#{blackList,jdbcType=java.util.List,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="whiteList!=null">-->
            <!--#{whiteList,jdbcType=java.util.List,jdbcType=VARCHAR},-->
            <!--</if>-->
            <if test="note!=null">
                #{note,jdbcType=VARCHAR},
            </if>
            <if test="version!=null">
                #{note,jdbcType=VARCHAR},
            </if>
            <if test="isValid!=null">
                #{isValid,jdbcType=TINYINT},
            </if>
            <choose>
                <when test="createTime!=null">
                    #{createTime,jdbcType=TIMESTAMP},
                </when>
                <otherwise>
                    now(),
                </otherwise>
            </choose>
            <choose>
                <when test="expireTime!=null">
                    #{expireTime.jdbcType=TIMESTAMP},
                </when>
                <otherwise>
                    DATE_ADD(now(),INTERVAL 2 WEEK),
                </otherwise>
            </choose>
        </trim>
    </insert>
</mapper>