<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.city.merchant.dao.CoUserCheckDao">


    <sql id="Query_Where_Clause">
        <where>
            certPhoto is not null
            <if test="status != null">
                <if test="status == 2 ">
                    and (certification = 1 or certification = -1)
                </if>
                <if test="status != 2">
                    and certification = #{status}
                </if>
            </if>
            <if test="agentName != null and agentName != ''"> and userlist.name like #{agentName}</if>
            <if test="agentUid != null and agentUid != ''"> and co_user.UID like #{agentUid}</if>
            <if test="subStartDate != null and subStartDate != ''">
                <![CDATA[   and certPhoto_uploadtime >= #{subStartDate} ]]>

            </if>
            <if test="subEndDate != null and subEndDate != '' ">
                <![CDATA[   and certPhoto_uploadtime <= #{subEndDate} ]]>
            </if>
            <if test="chkStartDate != null and chkStartDate != '' ">
                <![CDATA[   and usercert_updatetime  >= #{chkStartDate} ]]>
            </if>
            <if test="chkEndDate != null and chkEndDate != '' ">
                <![CDATA[   and usercert_updatetime  <= #{chkEndDate} ]]>
            </if>
        </where>
    </sql>

    <select id="selectCoUserList" parameterType="java.util.Map" resultType="cn.cityre.mis.city.merchant.entity.po.CoUser" >
        select co_user.id,co_user.uid,certPhoto,userlist.name,IDNo,
        userlist.headportrait,userlist.headportrait_flag,
        certification,usercert_updateuid,usercert_updatetime,certphoto_uploadtime
        from co_user left join userlist on co_user.UID = userlist.UID
        <include refid="Query_Where_Clause" />
        order by usercert_updatetime desc,id desc
        limit #{limitStart} ,  #{limitEnd}
    </select>

    <select id="selectCoUserCount" parameterType="java.util.Map" resultType="java.lang.Integer" >
        select count(co_user.id)
        from co_user left join userlist on co_user.UID = userlist.UID
        <include refid="Query_Where_Clause" />
    </select>


    <update id="updateCoUserAll" parameterType="java.util.Map" >
        update co_user set certification 	=#{certification},usercert_updateuid=#{uid},usercert_updatetime= now()  where
        id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateCoUserByUid" parameterType="java.util.Map" >
        update co_user set certification =#{certification},usercert_updateuid=#{uid},usercert_updatetime= now()  where UID=#{uid}
    </update>

    <select id="selectCoUserById" parameterType="java.lang.Integer" resultType="cn.cityre.mis.city.merchant.entity.po.CoUser" >
        select * from co_user where id = #{id}
    </select>

    <select id="selectCoUserByUid" parameterType="java.lang.String" resultType="cn.cityre.mis.city.merchant.entity.po.CoUser" >
        select * from co_user where uid= #{uid}
    </select>

    <select id="selectUser_typeLess2" parameterType="java.lang.String" resultType="cn.cityre.mis.city.merchant.entity.po.CoUser" >
        select * from co_user where cocode=#{cocode} and  length(ifnull(user_type,'')) <![CDATA[ <=  ]]> 2
    </select>

    <update id="updateUser_typeLess2" parameterType="java.lang.String" >
     update co_user set user_type=null,cocode=uid,isadmin=null,setuid=null,olservice=null,infoview=null,infoupdate=null where cocode=#{cocode} and  length(ifnull(user_type,'')) <![CDATA[ <=  ]]> 2
    </update>

    <select id="selectUser_typeBig2" parameterType="java.lang.String" resultType="cn.cityre.mis.city.merchant.entity.po.CoUser" >
        select * from co_user where user_type=#{cocode} and length(user_type)>2
    </select>
    <update id="updateUser_typeBig2" parameterType="java.lang.String" >
       update co_user set user_type=null,cocode=uid,isadmin=null,setuid=null,olservice=null,infoview=null,infoupdate=null where user_type=#{cocode}
    </update>

    <update id="updateCocodeEqualUid" parameterType="java.lang.String" >
       update co_user set certification=null,usercert_updateuid=null,usercert_updatetime=null where cocode=#{cocode} and cocode=uid
    </update>

    <select id="selectCouser_remanage" parameterType="java.util.Map" resultType="cn.cityre.mis.city.merchant.entity.po.CoUser" >
        select * from co_user where cocode =#{cocode} and uid != #{couid}
    </select>

    <update id="updateNewManage" parameterType="java.util.Map" >
        update co_user set isAdmin = 1,olservice = 1 ,infoupdate = 1,infoview = 1,setuid = 'admin',setTime = now(),job='经纪人' where cocode =#{cocode} and uid =#{newuid}
    </update>

    <update id="updateOldManage" parameterType="java.util.Map" >
        uupdate co_user set isadmin = null where cocode = #{cocode} and uid=#{olduid}
    </update>
</mapper>
