<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.city.merchant.dao.CrmcoDao">
        <select id="selectCocl" resultType="cn.cityre.mis.city.merchant.entity.po.Cocl">
            SELECT  * from co_cl
        </select>

    <sql id="Query_Where_Clause">
    <where>
      1= 1
        <if test="source != null and source != 0">
            and couid is not null
        </if>
        <if test="certp != null">
            <if test="certp == 1">
                and co_user.certification= 1
            </if>
            <if test="certp == 2">
                and (co_user.certification =1 or co_user.certification=-1)
            </if>
            <if test="certp == -1">
                and co_user.certification= -1
            </if>
            <if test="certp == 0">
                and co_user.certification='0' and co_user.certPhoto is not null and trim(co_user.certPhoto) != ''
            </if>
        </if>

        <if test="copermission != null">
            <if test="copermission == 1">
                and (ad.uid is not null)
            </if>

            <if test="copermission == 0">
                and (ad.uid is null or trim(ad.uid) = '')
            </if>
        </if>
        <if test="cocl != null and cocl != ''">
            and co.cocl = #{cocl}
        </if>
        <if test="time_reg_from != null and time_reg_from != ''">
            <![CDATA[  and co.RegTime  >= #{time_reg_from} ]]>

        </if>
        <if test="time_reg_to != null and time_reg_to != '' ">
            <![CDATA[   and co.RegTime <= #{time_reg_to} ]]>
        </if>
        <if test="couid != null and couid != ''">
            and couid like #{couid}
        </if>
        <if test="cotel != null and cotel != ''">
            and co.cotel like #{cotel}
        </if>
        <if test="sconame != null and sconame != ''">
            and coname like #{sconame}
        </if>
        <if test="d1 != null">
            <if test="d1 == 1">
                and coState=1 and costate_again is null
            </if>
            <if test="d1 == 2">
                and coState=0 and costate_again is null
            </if>
            <if test="d1 == 0">
                and coState is null and co.coState is null
            </if>
        </if>

        <if test="cert_from != null and cert_from != ''">
            <![CDATA[  and (tel_cocert_updatetime>=#{cert_from} or cocert_updatetime>= #{cert_from} )]]>

        </if>
        <if test="cert_to != null and cert_to != '' ">
            <![CDATA[   and (tel_cocert_updatetime<=#{cert_from} or cocert_updatetime<= #{cert_from} ) ]]>
        </if>

        <if test="begin_time != null and begin_time != ''">
            <![CDATA[  and co.verifytime  >= #{begin_time} ]]>

        </if>
        <if test="end_time != null and end_time != '' ">
            <![CDATA[   and co.verifytime <= #{end_time} ]]>
        </if>
        <if test="lastlogin_begin_time != null and lastlogin_begin_time != ''">
            <![CDATA[  and userlist.updatetime  >= #{lastlogin_begin_time} ]]>

        </if>
        <if test="lastlogin_end_time != null and lastlogin_end_time != '' ">
            <![CDATA[   and userlist.updatetime <= #{lastlogin_end_time} ]]>
        </if>
    </where>
    </sql>

    <select id="selectCrmcoList" parameterType="java.util.Map" resultType="cn.cityre.mis.city.merchant.entity.po.Crmco" >
      select
      tel_cocert_state,tel_cocert_updatetime,cocert_updatetime,tel_cocert_times,co.costate_uid,co.costate_time,
      co.coimagefile,co.id,co.cocode,coname,co.coaddr,co.ArtiPsn,co.updatetime,co.couid,
      co.CoScale,co.CoTel,co.costate,co.x,co.y,
      co.RegTime,co.verifyuid,co.verifytime,co.certNo,co.certPhoto,co.CoEmail,co_cl.coinfo,co.certification
      ,ad.uid,userlist.permission,userlist.name,userlist.nickname,co.coMob,co.cofax,co.cowebsite,co.cobrief,co.cocl
        from  co inner join co_cl on co_cl.id>0 and co_cl.cocl=co.CoCl
        left join (select distinct uid from ad where ad_class_code=3 and end_time>now()) ad on co.cocode=ad.uid
        left join userlist on co.couid=userlist.uid
        <include refid="Query_Where_Clause" />
        order by co.id desc
        limit #{limitStart} ,  #{limitEnd}
    </select>
    <select id="selectCrmcoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
       SELECT  count(co.id)
         from  co inner join co_cl on co_cl.id>0 and co_cl.cocl=co.CoCl
        left join (select distinct uid from ad where ad_class_code=3 and end_time>now()) ad on co.cocode=ad.uid
        left join userlist on co.couid=userlist.uid
        <include refid="Query_Where_Clause" />

    </select>


    <select id="selectCouserCnt" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(co_user.uid) as cnt from co_user
        inner join userlist on userlist.uid = co_user.uid where (userlist.userlist_flag =1 or userlist.userlist_flag is null) and co_user.cocode = #{cocode}
        and co_user.uid    <![CDATA[ <> ]]>  #{couid}
    </select>


    <select id="selectPerdaycount" parameterType="java.util.Map" resultType="cn.cityre.mis.city.merchant.entity.po.Perdaycount" >
      select ym,sum(qnt) as qnt from (
      select date_format(modifiedtime,'%Y-%m-%d') as ym,count(*) as qnt
      from qd_forsale left join ha on qd_forsale.hacode=ha.ha_code and ha.confirmid=2
      left join street on qd_forsale.streetcode=street.street_code and street.confirmid=2
      where ((qd_forsale.hacode is not null and ha.confirmid=2) or (qd_forsale.hacode is null and street.confirmid=2))
       and source=#{cocode} and (validDate is null or validDate>=now()) and (tel is not null or email is not null)
       and ((qd_forsale.showorder=1 and qd_forsale.sourceurl is not null ) or (qd_forsale.sourceurl is null) )
       and modifiedtime>=#{nowdate} group by date_format(modifiedtime,'%Y-%m-%d')
       union all
       select date_format(modifiedtime,'%Y-%m-%d') as ym,count(*) as qnt
       from qd_lease qd_forsale left join ha on qd_forsale.hacode=ha.ha_code and ha.confirmid=2
       left join street on qd_forsale.streetcode=street.street_code and street.confirmid=2
       where ((qd_forsale.hacode is not null and ha.confirmid=2) or (qd_forsale.hacode is null and street.confirmid=2))
        and source=#{cocode} and (validDate is null or validDate>=now()) and (tel is not null or email is not null)
        and ((qd_forsale.showorder=1 and qd_forsale.sourceurl is not null ) or (qd_forsale.sourceurl is null) )
        and modifiedtime>=#{nowdate} group by date_format(modifiedtime,'%Y-%m-%d')
		 )a  group by ym order by ym
    </select>

    <update id="updateCoStateByCocode" parameterType="java.util.Map">
       update co set CoState=1,verifyuid=#{sysuid} ,verifytime=now(),costate_again = null where cocode = #{cocode}
    </update>

    <update id="updateCo_remark_cocode" parameterType="java.util.Map">
        update co set CoState=0,costate_remark=#{reason},verifyuid=#{sysuid},verifytime=now(),costate_again = null where cocode =#{cocode}
    </update>


    <select id="selectCoByConameCnt" parameterType="java.util.Map" resultType="java.lang.Integer">
       select count(id) from co where coname = #{coname } and cocode != #{cocode}
    </select>

    <update id="updateCoDetail" parameterType="java.util.Map">
        update co
        <set>
            <if test="coname != null">
                coname = #{coname},
            </if>
            <if test="d1 != null">
                cocl = #{d1},
            </if>
            <if test="coaddr != null">
                coaddr = #{coaddr},
            </if>
            <if test="cobrief != null">
                cobrief = #{cobrief},
            </if>
            <if test="cowebsite != null">
                cowebsite = #{cowebsite},
            </if>
            <if test="coemail != null">
                coemail = #{coemail},
            </if>
            <if test="cotel != null">
                cotel = #{cotel},
            </if>
            <if test="coMob != null">
                coMob = #{coMob},
            </if>
            <if test="cofax != null">
                cofax = #{cofax},
            </if>
            <if test="updateTime != null">
                UpdateTime = #{updateTime},
            </if>
            <if test="sysuid != null">
                VerifyUID = #{sysuid},
            </if>
            <if test="VerifyTime != null">
                VerifyTime = #{VerifyTime},
            </if>
        </set>
        where cocode = #{cocode}
    </update>

    <select id="seleteHa_coByCocodeCnt" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(id) from ha_co where cocode = #{cocode}
    </select>

    <select id="seleteAdByCocodeCnt" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(id)  from ad where uid= #{cocode} and end_time>=now()
    </select>
</mapper>
