<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.datavip.dao.AppProductMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.mis.datavip.entity.AppProduct">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app" jdbcType="INTEGER" property="app" />
    <result column="pid" jdbcType="VARCHAR" property="pId" />
    <result column="pname" jdbcType="VARCHAR" property="pName" />
    <result column="refername" jdbcType="VARCHAR" property="referName" />
    <result column="ptype" jdbcType="VARCHAR" property="pType" />
    <result column="pnote" jdbcType="VARCHAR" property="pNote" />
    <result column="planguage" jdbcType="VARCHAR" property="pLanguage" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="adduid" jdbcType="VARCHAR" property="addUid" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addTime" />
    <result column="updateuid" jdbcType="VARCHAR" property="updateUid" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, app, pid, pname, refername, ptype, pnote, planguage, flag, adduid, addtime, updateuid, 
    updatetime
  </sql>

  <!--getAll-->
  <select id="selectAllList" resultMap="BaseResultMap">
    SELECT
     <include refid="Base_Column_List"/>
    FROM app_product

  </select>
  <!--通过id查询-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!--通过主键删除-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from app_product
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!--新建-->
  <insert id="insert" parameterType="cn.cityre.mis.datavip.entity.AppProduct"
  useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into app_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="app!=null">
        app,
      </if>
      <if test="pid!=null">
        pid,
      </if>
      <if test="pname!=null">
        pname,
      </if>
      <if test="refername != null">
        fefername,
      </if>
      <if test="ptype!=null">
        ptype,
      </if>
      <if test="pnote!=null">
        pnote,
      </if>
      <if test="planguage!=null">
        planguage,
      </if>
      <if test="flag!=null">
        flag,
      </if>
      adduid,
      addtime,
      updateuid,
      updatetime,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="app!=null">
        #{app,jdbcType=INTEGER},
      </if>
      <if test="pid!=null">
        #{pid,jdbcType=VARHCAR},
      </if>
      <if test="pname!=null">
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="refername!=null">
        #{refername,jdbcType=VARCHAR},
      </if>
      <if test="ptype!=null">
        #{ptype,jdbcType=VARCHAR},
      </if>
      <if test="pnote!=null">
        #{pnote,jdbcType=VARCHAR},
      </if>
      <if test="planguage!=null">
        #{planguage,jdbcType=VARCHAR},
      </if>
      <if test="flag!=null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="adduid!=null">
        #{adduid,jdbcType=VARCHAR},
      </if>
      <choose>
        <when test="addtime!=null">
          #{addtime,jdbcType=TIMESTAMP},
        </when>
        <otherwise>now(),</otherwise>
      </choose>
      <if test="updateuid!=null">
        #{updateuid,jdbcType=VARCHAR},
      </if>
      <choose>
        <when test="updatetime!=null">
          #{updatetime,jdbcType=TIMESTAMP},
        </when>
        <otherwise>now(),</otherwise>
      </choose>
    </trim>
  </insert>

  <!--更新-->
  <update id="updateByPrimaryKey" parameterType="cn.cityre.mis.datavip.entity.AppProduct">
    update app_product
    <set>
      <if test="app != null">
        app = #{app,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="pname != null">
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="refername != null">
        refername = #{refername,jdbcType=VARCHAR},
      </if>
      <if test="ptype != null">
        ptype = #{ptype,jdbcType=VARCHAR},
      </if>
      <if test="pnote != null">
        pnote = #{pnote,jdbcType=VARCHAR},
      </if>
      <if test="planguage != null">
        planguage = #{planguage,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="updateuid != null">
        updateuid = #{updateuid,jdbcType=VARCHAR},
      </if>
        updatetime = now(),
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>