<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.datavip.dao.BillsBackupMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.mis.datavip.entity.BillsBackup">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="suid" jdbcType="VARCHAR" property="suid" />
    <result column="bill_code" jdbcType="VARCHAR" property="billCode" />
    <result column="alipay_bill_code" jdbcType="VARCHAR" property="alipayBillCode" />
    <result column="post_invoice_flag" jdbcType="INTEGER" property="postInvoiceFlag" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="product_num" jdbcType="INTEGER" property="productNum" />
    <result column="product_cost" jdbcType="DOUBLE" property="productCost" />
    <result column="invoice_type" jdbcType="INTEGER" property="invoiceType" />
    <result column="invoice_title" jdbcType="VARCHAR" property="invoiceTitle" />
    <result column="post_user" jdbcType="VARCHAR" property="postUser" />
    <result column="post_type" jdbcType="VARCHAR" property="postType" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addTime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="pay_flag" jdbcType="INTEGER" property="payFlag" />
    <result column="pay_updatetime" jdbcType="TIMESTAMP" property="payUpdateTime" />
    <result column="w_pay_type" jdbcType="VARCHAR" property="wPayType" />
    <result column="w_pay_user" jdbcType="VARCHAR" property="wPayUser" />
    <result column="w_pay_tel" jdbcType="VARCHAR" property="wPayTel" />
    <result column="invoice_no" jdbcType="VARCHAR" property="invoiceNo" />
    <result column="kp_invoice_time" jdbcType="TIMESTAMP" property="kpInvoiceTime" />
    <result column="invoice_no_uid" jdbcType="VARCHAR" property="invoiceNoUid" />
    <result column="invoice_no_time" jdbcType="TIMESTAMP" property="invoiceNoTime" />
    <result column="invoice_no_flag" jdbcType="INTEGER" property="invoiceNoFlag" />
  </resultMap>
  <insert id="insert" parameterType="cn.cityre.mis.datavip.entity.BillsBackup" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into bills_backup_20120821
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="suid != null">
        suid,
      </if>
      <if test="billCode != null">
        bill_code,
      </if>
      <if test="alipayBillCode != null">
        alipay_bill_code,
      </if>
      <if test="postInvoiceFlag != null">
        post_invoice_flag,
      </if>
      <if test="productCode != null">
        product_code,
      </if>
      <if test="productNum != null">
        product_num,
      </if>
      <if test="productCost != null">
        product_cost,
      </if>
      <if test="invoiceType != null">
        invoice_type,
      </if>
      <if test="invoiceTitle != null">
        invoice_title,
      </if>
      <if test="postUser != null">
        post_user,
      </if>
      <if test="postType != null">
        post_type,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="tel != null">
        tel,
      </if>
        addtime,
        updatetime,
      <if test="payFlag != null">
        pay_flag,
      </if>
      <if test="payUpdatetime != null">
        pay_updatetime,
      </if>
      <if test="wPayType != null">
        w_pay_type,
      </if>
      <if test="wPayUser != null">
        w_pay_user,
      </if>
      <if test="wPayTel != null">
        w_pay_tel,
      </if>
      <if test="invoiceNo != null">
        invoice_no,
      </if>
      <if test="kpInvoiceTime != null">
        kp_invoice_time,
      </if>
      <if test="invoiceNoUid != null">
        invoice_no_uid,
      </if>
      <if test="invoiceNoTime != null">
        invoice_no_time,
      </if>
      <if test="invoiceNoFlag != null">
        invoice_no_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="suid != null">
        #{suid,jdbcType=VARCHAR},
      </if>
      <if test="billCode != null">
        #{billCode,jdbcType=VARCHAR},
      </if>
      <if test="alipayBillCode != null">
        #{alipayBillCode,jdbcType=VARCHAR},
      </if>
      <if test="postInvoiceFlag != null">
        #{postInvoiceFlag,jdbcType=INTEGER},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productNum != null">
        #{productNum,jdbcType=INTEGER},
      </if>
      <if test="productCost != null">
        #{productCost,jdbcType=DOUBLE},
      </if>
      <if test="invoiceType != null">
        #{invoiceType,jdbcType=INTEGER},
      </if>
      <if test="invoiceTitle != null">
        #{invoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="postUser != null">
        #{postUser,jdbcType=VARCHAR},
      </if>
      <if test="postType != null">
        #{postType,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <choose>
        <when test="addtime!=null">
          #{addtime,jdbcType=TIMESTAMP},
        </when>
        <otherwise>now(),</otherwise>
      </choose>
       <choose>
         <when test="updatetime !=null">
           #{updatetime,jdbcType=TIMESTAMP}
         </when>
         <otherwise>now(),</otherwise>
       </choose>
      <if test="payFlag != null">
        #{payFlag,jdbcType=INTEGER},
      </if>
      <if test="payUpdatetime != null">
        #{payUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="wPayType != null">
        #{wPayType,jdbcType=VARCHAR},
      </if>
      <if test="wPayUser != null">
        #{wPayUser,jdbcType=VARCHAR},
      </if>
      <if test="wPayTel != null">
        #{wPayTel,jdbcType=VARCHAR},
      </if>
      <if test="invoiceNo != null">
        #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="kpInvoiceTime != null">
        #{kpInvoiceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceNoUid != null">
        #{invoiceNoUid,jdbcType=VARCHAR},
      </if>
      <if test="invoiceNoTime != null">
        #{invoiceNoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceNoFlag != null">
        #{invoiceNoFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>