<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.datavip.dao.CompanyDeptMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.mis.datavip.entity.CompanyDept">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="deptname" jdbcType="VARCHAR" property="deptName" />
    <result column="deptdesc" jdbcType="VARCHAR" property="deptDesc" />
    <result column="linkman" jdbcType="VARCHAR" property="linkMan" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="numlevel" jdbcType="INTEGER" property="numLevel" />
    <result column="createuid" jdbcType="VARCHAR" property="createUid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateuid" jdbcType="VARCHAR" property="updateUid" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="enabledflag" jdbcType="VARCHAR" property="enabledFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dept_code, company_code, deptname, deptdesc, linkman, mobile, numlevel, createuid, 
    createtime, updateuid, updatetime, email, enabledflag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company_dept
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from company_dept
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.cityre.mis.datavip.entity.CompanyDept">
    insert into company_dept (id, dept_code, company_code, 
      deptname, deptdesc, linkman, 
      mobile, numlevel, createuid, 
      createtime, updateuid, updatetime, 
      email, enabledflag)
    values (#{id,jdbcType=INTEGER}, #{deptCode,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}, 
      #{deptname,jdbcType=VARCHAR}, #{deptdesc,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{numlevel,jdbcType=INTEGER}, #{createuid,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updateuid,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{email,jdbcType=VARCHAR}, #{enabledflag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.cityre.mis.datavip.entity.CompanyDept">
    insert into company_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deptCode != null">
        dept_code,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="deptname != null">
        deptname,
      </if>
      <if test="deptdesc != null">
        deptdesc,
      </if>
      <if test="linkman != null">
        linkman,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="numlevel != null">
        numlevel,
      </if>
      <if test="createuid != null">
        createuid,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updateuid != null">
        updateuid,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="enabledflag != null">
        enabledflag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deptCode != null">
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="deptname != null">
        #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="deptdesc != null">
        #{deptdesc,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null">
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="numlevel != null">
        #{numlevel,jdbcType=INTEGER},
      </if>
      <if test="createuid != null">
        #{createuid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuid != null">
        #{updateuid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="enabledflag != null">
        #{enabledflag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cityre.mis.datavip.entity.CompanyDept">
    update company_dept
    <set>
      <if test="deptCode != null">
        dept_code = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="deptname != null">
        deptname = #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="deptdesc != null">
        deptdesc = #{deptdesc,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null">
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="numlevel != null">
        numlevel = #{numlevel,jdbcType=INTEGER},
      </if>
      <if test="createuid != null">
        createuid = #{createuid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuid != null">
        updateuid = #{updateuid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="enabledflag != null">
        enabledflag = #{enabledflag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cityre.mis.datavip.entity.CompanyDept">
    update company_dept
    set dept_code = #{deptCode,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      deptname = #{deptname,jdbcType=VARCHAR},
      deptdesc = #{deptdesc,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      numlevel = #{numlevel,jdbcType=INTEGER},
      createuid = #{createuid,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updateuid = #{updateuid,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      email = #{email,jdbcType=VARCHAR},
      enabledflag = #{enabledflag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>