<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.datavip.dao.CompanyMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.mis.datavip.entity.Company">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_desc" jdbcType="VARCHAR" property="companyDesc" />
    <result column="legal_person" jdbcType="VARCHAR" property="legalPerson" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="dist_code" jdbcType="VARCHAR" property="distCode" />
    <result column="linkman" jdbcType="VARCHAR" property="linkMan" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="siteurl" jdbcType="VARCHAR" property="siteUrl" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="company_type" jdbcType="INTEGER" property="companyType" />
    <result column="salestatus" jdbcType="INTEGER" property="saleStatus" />
    <result column="isread" jdbcType="VARCHAR" property="isRead" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="offeruid" jdbcType="VARCHAR" property="offerUid" />
    <result column="offertime" jdbcType="TIMESTAMP" property="offerTime" />
    <result column="updateuid" jdbcType="VARCHAR" property="updateUid" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="enabledflag" jdbcType="VARCHAR" property="enabledFlag" />
    <result column="feelevel" jdbcType="VARCHAR" property="feeLevel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_code, company_name, company_desc, legal_person, parent_code, industry, 
    city_code, dist_code, linkman, mobile, email, siteurl, address, company_type, salestatus, 
    isread, level, offeruid, offertime, updateuid, updatetime, enabledflag, feelevel
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.cityre.mis.datavip.entity.Company">
    insert into company (id, company_code, company_name, 
      company_desc, legal_person, parent_code, 
      industry, city_code, dist_code, 
      linkman, mobile, email, 
      siteurl, address, company_type, 
      salestatus, isread, level, 
      offeruid, offertime, updateuid, 
      updatetime, enabledflag, feelevel
      )
    values (#{id,jdbcType=INTEGER}, #{companyCode,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{companyDesc,jdbcType=VARCHAR}, #{legalPerson,jdbcType=VARCHAR}, #{parentCode,jdbcType=VARCHAR}, 
      #{industry,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, #{distCode,jdbcType=VARCHAR}, 
      #{linkman,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{siteurl,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{companyType,jdbcType=INTEGER}, 
      #{salestatus,jdbcType=INTEGER}, #{isread,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, 
      #{offeruid,jdbcType=VARCHAR}, #{offertime,jdbcType=TIMESTAMP}, #{updateuid,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{enabledflag,jdbcType=VARCHAR}, #{feelevel,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.cityre.mis.datavip.entity.Company">
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="companyDesc != null">
        company_desc,
      </if>
      <if test="legalPerson != null">
        legal_person,
      </if>
      <if test="parentCode != null">
        parent_code,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="distCode != null">
        dist_code,
      </if>
      <if test="linkman != null">
        linkman,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="siteurl != null">
        siteurl,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="companyType != null">
        company_type,
      </if>
      <if test="salestatus != null">
        salestatus,
      </if>
      <if test="isread != null">
        isread,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="offeruid != null">
        offeruid,
      </if>
      <if test="offertime != null">
        offertime,
      </if>
      <if test="updateuid != null">
        updateuid,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="enabledflag != null">
        enabledflag,
      </if>
      <if test="feelevel != null">
        feelevel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyDesc != null">
        #{companyDesc,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null">
        #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="distCode != null">
        #{distCode,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null">
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="siteurl != null">
        #{siteurl,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="companyType != null">
        #{companyType,jdbcType=INTEGER},
      </if>
      <if test="salestatus != null">
        #{salestatus,jdbcType=INTEGER},
      </if>
      <if test="isread != null">
        #{isread,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="offeruid != null">
        #{offeruid,jdbcType=VARCHAR},
      </if>
      <if test="offertime != null">
        #{offertime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuid != null">
        #{updateuid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabledflag != null">
        #{enabledflag,jdbcType=VARCHAR},
      </if>
      <if test="feelevel != null">
        #{feelevel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cityre.mis.datavip.entity.Company">
    update company
    <set>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyDesc != null">
        company_desc = #{companyDesc,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null">
        legal_person = #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        parent_code = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="distCode != null">
        dist_code = #{distCode,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null">
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="siteurl != null">
        siteurl = #{siteurl,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="companyType != null">
        company_type = #{companyType,jdbcType=INTEGER},
      </if>
      <if test="salestatus != null">
        salestatus = #{salestatus,jdbcType=INTEGER},
      </if>
      <if test="isread != null">
        isread = #{isread,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="offeruid != null">
        offeruid = #{offeruid,jdbcType=VARCHAR},
      </if>
      <if test="offertime != null">
        offertime = #{offertime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuid != null">
        updateuid = #{updateuid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabledflag != null">
        enabledflag = #{enabledflag,jdbcType=VARCHAR},
      </if>
      <if test="feelevel != null">
        feelevel = #{feelevel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cityre.mis.datavip.entity.Company">
    update company
    set company_code = #{companyCode,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_desc = #{companyDesc,jdbcType=VARCHAR},
      legal_person = #{legalPerson,jdbcType=VARCHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      dist_code = #{distCode,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      siteurl = #{siteurl,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      company_type = #{companyType,jdbcType=INTEGER},
      salestatus = #{salestatus,jdbcType=INTEGER},
      isread = #{isread,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      offeruid = #{offeruid,jdbcType=VARCHAR},
      offertime = #{offertime,jdbcType=TIMESTAMP},
      updateuid = #{updateuid,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      enabledflag = #{enabledflag,jdbcType=VARCHAR},
      feelevel = #{feelevel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>