<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.datavip.dao.DicIndustryFreeapplyMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.mis.datavip.entity.DicIndustryFreeApply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="industry_code" jdbcType="VARCHAR" property="industryCode" />
    <result column="industry_name" jdbcType="VARCHAR" property="industryName" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updateuid" jdbcType="VARCHAR" property="updateUid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, industry_code, industry_name, updatetime, updateuid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dic_industry_freeapply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dic_industry_freeapply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.cityre.mis.datavip.entity.DicIndustryFreeApply">
    insert into dic_industry_freeapply (id, industry_code, industry_name, 
      updatetime, updateuid)
    values (#{id,jdbcType=INTEGER}, #{industryCode,jdbcType=VARCHAR}, #{industryName,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{updateuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.cityre.mis.datavip.entity.DicIndustryFreeApply">
    insert into dic_industry_freeapply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="industryCode != null">
        industry_code,
      </if>
      <if test="industryName != null">
        industry_name,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="updateuid != null">
        updateuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="industryCode != null">
        #{industryCode,jdbcType=VARCHAR},
      </if>
      <if test="industryName != null">
        #{industryName,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuid != null">
        #{updateuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cityre.mis.datavip.entity.DicIndustryFreeApply">
    update dic_industry_freeapply
    <set>
      <if test="industryCode != null">
        industry_code = #{industryCode,jdbcType=VARCHAR},
      </if>
      <if test="industryName != null">
        industry_name = #{industryName,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuid != null">
        updateuid = #{updateuid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cityre.mis.datavip.entity.DicIndustryFreeApply">
    update dic_industry_freeapply
    set industry_code = #{industryCode,jdbcType=VARCHAR},
      industry_name = #{industryName,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      updateuid = #{updateuid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>