<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.datavip.dao.DicLogTypeMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.mis.datavip.entity.DicLogType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="log_type_code" jdbcType="INTEGER" property="logTypeCode" />
    <result column="log_type_name" jdbcType="VARCHAR" property="logTypeName" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    id, log_type_code, log_type_name, note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dic_log_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dic_log_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.cityre.mis.datavip.entity.DicLogType">
    insert into dic_log_type (id, log_type_code, log_type_name, 
      note)
    values (#{id,jdbcType=INTEGER}, #{logTypeCode,jdbcType=INTEGER}, #{logTypeName,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.cityre.mis.datavip.entity.DicLogType">
    insert into dic_log_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="logTypeCode != null">
        log_type_code,
      </if>
      <if test="logTypeName != null">
        log_type_name,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="logTypeCode != null">
        #{logTypeCode,jdbcType=INTEGER},
      </if>
      <if test="logTypeName != null">
        #{logTypeName,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cityre.mis.datavip.entity.DicLogType">
    update dic_log_type
    <set>
      <if test="logTypeCode != null">
        log_type_code = #{logTypeCode,jdbcType=INTEGER},
      </if>
      <if test="logTypeName != null">
        log_type_name = #{logTypeName,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cityre.mis.datavip.entity.DicLogType">
    update dic_log_type
    set log_type_code = #{logTypeCode,jdbcType=INTEGER},
      log_type_name = #{logTypeName,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>