<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.datavip.dao.DicModuleMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.mis.datavip.entity.DicModule">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="amcode" jdbcType="VARCHAR" property="amCode" />
    <result column="amgrp" jdbcType="VARCHAR" property="amGrp" />
    <result column="amname" jdbcType="VARCHAR" property="amName" />
    <result column="amdesc" jdbcType="VARCHAR" property="amDesc" />
    <result column="amlevel" jdbcType="INTEGER" property="amLevel" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="productcode" jdbcType="VARCHAR" property="productCode" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="createuid" jdbcType="VARCHAR" property="createUid" />
    <result column="updateuid" jdbcType="VARCHAR" property="updateUid" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="enabledflag" jdbcType="VARCHAR" property="enabledFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, amcode, amgrp, amname, amdesc, amlevel, permission, productcode, createtime, 
    createuid, updateuid, updatetime, enabledflag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dic_module
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dic_module
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.cityre.mis.datavip.entity.DicModule">
    insert into dic_module (id, amcode, amgrp, 
      amname, amdesc, amlevel, 
      permission, productcode, createtime, 
      createuid, updateuid, updatetime, 
      enabledflag)
    values (#{id,jdbcType=INTEGER}, #{amcode,jdbcType=VARCHAR}, #{amgrp,jdbcType=VARCHAR}, 
      #{amname,jdbcType=VARCHAR}, #{amdesc,jdbcType=VARCHAR}, #{amlevel,jdbcType=INTEGER}, 
      #{permission,jdbcType=VARCHAR}, #{productcode,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{createuid,jdbcType=VARCHAR}, #{updateuid,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{enabledflag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.cityre.mis.datavip.entity.DicModule">
    insert into dic_module
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="amcode != null">
        amcode,
      </if>
      <if test="amgrp != null">
        amgrp,
      </if>
      <if test="amname != null">
        amname,
      </if>
      <if test="amdesc != null">
        amdesc,
      </if>
      <if test="amlevel != null">
        amlevel,
      </if>
      <if test="permission != null">
        permission,
      </if>
      <if test="productcode != null">
        productcode,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="createuid != null">
        createuid,
      </if>
      <if test="updateuid != null">
        updateuid,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="enabledflag != null">
        enabledflag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="amcode != null">
        #{amcode,jdbcType=VARCHAR},
      </if>
      <if test="amgrp != null">
        #{amgrp,jdbcType=VARCHAR},
      </if>
      <if test="amname != null">
        #{amname,jdbcType=VARCHAR},
      </if>
      <if test="amdesc != null">
        #{amdesc,jdbcType=VARCHAR},
      </if>
      <if test="amlevel != null">
        #{amlevel,jdbcType=INTEGER},
      </if>
      <if test="permission != null">
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="productcode != null">
        #{productcode,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuid != null">
        #{createuid,jdbcType=VARCHAR},
      </if>
      <if test="updateuid != null">
        #{updateuid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabledflag != null">
        #{enabledflag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cityre.mis.datavip.entity.DicModule">
    update dic_module
    <set>
      <if test="amcode != null">
        amcode = #{amcode,jdbcType=VARCHAR},
      </if>
      <if test="amgrp != null">
        amgrp = #{amgrp,jdbcType=VARCHAR},
      </if>
      <if test="amname != null">
        amname = #{amname,jdbcType=VARCHAR},
      </if>
      <if test="amdesc != null">
        amdesc = #{amdesc,jdbcType=VARCHAR},
      </if>
      <if test="amlevel != null">
        amlevel = #{amlevel,jdbcType=INTEGER},
      </if>
      <if test="permission != null">
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="productcode != null">
        productcode = #{productcode,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuid != null">
        createuid = #{createuid,jdbcType=VARCHAR},
      </if>
      <if test="updateuid != null">
        updateuid = #{updateuid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabledflag != null">
        enabledflag = #{enabledflag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cityre.mis.datavip.entity.DicModule">
    update dic_module
    set amcode = #{amcode,jdbcType=VARCHAR},
      amgrp = #{amgrp,jdbcType=VARCHAR},
      amname = #{amname,jdbcType=VARCHAR},
      amdesc = #{amdesc,jdbcType=VARCHAR},
      amlevel = #{amlevel,jdbcType=INTEGER},
      permission = #{permission,jdbcType=VARCHAR},
      productcode = #{productcode,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createuid = #{createuid,jdbcType=VARCHAR},
      updateuid = #{updateuid,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      enabledflag = #{enabledflag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>