<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.datavip.dao.FreeApplyMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.mis.datavip.entity.FreeApply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="username" jdbcType="VARCHAR" property="userName" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="citycode" jdbcType="VARCHAR" property="cityCode" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="industry_code" jdbcType="VARCHAR" property="industryCode" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="datademand" jdbcType="VARCHAR" property="dataDemand" />
    <result column="datause" jdbcType="VARCHAR" property="dataUse" />
    <result column="bill_code" jdbcType="VARCHAR" property="billCode" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="confirmuid" jdbcType="VARCHAR" property="confirmUid" />
    <result column="confirmtime" jdbcType="TIMESTAMP" property="confirmTime" />
    <result column="confirmremark" jdbcType="VARCHAR" property="confirmRemark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, user_type, username, tel, email, citycode, company, industry_code, address, 
    job, datademand, datause, bill_code, updatetime, platform, flag, confirmuid, confirmtime, 
    confirmremark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from freeapply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from freeapply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.cityre.mis.datavip.entity.FreeApply">
    insert into freeapply (id, uid, user_type, 
      username, tel, email, 
      citycode, company, industry_code, 
      address, job, datademand, 
      datause, bill_code, updatetime, 
      platform, flag, confirmuid, 
      confirmtime, confirmremark)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{citycode,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{industryCode,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, #{datademand,jdbcType=VARCHAR}, 
      #{datause,jdbcType=VARCHAR}, #{billCode,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{platform,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, #{confirmuid,jdbcType=VARCHAR}, 
      #{confirmtime,jdbcType=TIMESTAMP}, #{confirmremark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.cityre.mis.datavip.entity.FreeApply">
    insert into freeapply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="citycode != null">
        citycode,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="industryCode != null">
        industry_code,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="job != null">
        job,
      </if>
      <if test="datademand != null">
        datademand,
      </if>
      <if test="datause != null">
        datause,
      </if>
      <if test="billCode != null">
        bill_code,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="confirmuid != null">
        confirmuid,
      </if>
      <if test="confirmtime != null">
        confirmtime,
      </if>
      <if test="confirmremark != null">
        confirmremark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="citycode != null">
        #{citycode,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="industryCode != null">
        #{industryCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="datademand != null">
        #{datademand,jdbcType=VARCHAR},
      </if>
      <if test="datause != null">
        #{datause,jdbcType=VARCHAR},
      </if>
      <if test="billCode != null">
        #{billCode,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="confirmuid != null">
        #{confirmuid,jdbcType=VARCHAR},
      </if>
      <if test="confirmtime != null">
        #{confirmtime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmremark != null">
        #{confirmremark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cityre.mis.datavip.entity.FreeApply">
    update freeapply
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="citycode != null">
        citycode = #{citycode,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="industryCode != null">
        industry_code = #{industryCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="datademand != null">
        datademand = #{datademand,jdbcType=VARCHAR},
      </if>
      <if test="datause != null">
        datause = #{datause,jdbcType=VARCHAR},
      </if>
      <if test="billCode != null">
        bill_code = #{billCode,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="confirmuid != null">
        confirmuid = #{confirmuid,jdbcType=VARCHAR},
      </if>
      <if test="confirmtime != null">
        confirmtime = #{confirmtime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmremark != null">
        confirmremark = #{confirmremark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cityre.mis.datavip.entity.FreeApply">
    update freeapply
    set uid = #{uid,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      citycode = #{citycode,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      industry_code = #{industryCode,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      datademand = #{datademand,jdbcType=VARCHAR},
      datause = #{datause,jdbcType=VARCHAR},
      bill_code = #{billCode,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      platform = #{platform,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      confirmuid = #{confirmuid,jdbcType=VARCHAR},
      confirmtime = #{confirmtime,jdbcType=TIMESTAMP},
      confirmremark = #{confirmremark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>