<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.datavip.dao.IpWhitelistMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.mis.datavip.entity.IpWhiteList">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="vcip" jdbcType="VARCHAR" property="vcip" />
    <result column="apikey" jdbcType="VARCHAR" property="apikey" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="datestart" jdbcType="TIMESTAMP" property="dateStart" />
    <result column="dateend" jdbcType="TIMESTAMP" property="dateEnd" />
    <result column="adduid" jdbcType="VARCHAR" property="addUid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateuid" jdbcType="VARCHAR" property="updateUid" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="enabledflag" jdbcType="VARCHAR" property="enabledFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, vcip, apikey, note, datestart, dateend, adduid, createtime, updateuid, updatetime, 
    enabledflag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ip_whitelist
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ip_whitelist
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.cityre.mis.datavip.entity.IpWhiteList">
    insert into ip_whitelist (id, vcip, apikey, 
      note, datestart, dateend, 
      adduid, createtime, updateuid, 
      updatetime, enabledflag)
    values (#{id,jdbcType=INTEGER}, #{vcip,jdbcType=VARCHAR}, #{apikey,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR}, #{datestart,jdbcType=TIMESTAMP}, #{dateend,jdbcType=TIMESTAMP}, 
      #{adduid,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updateuid,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{enabledflag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.cityre.mis.datavip.entity.IpWhiteList">
    insert into ip_whitelist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="vcip != null">
        vcip,
      </if>
      <if test="apikey != null">
        apikey,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="datestart != null">
        datestart,
      </if>
      <if test="dateend != null">
        dateend,
      </if>
      <if test="adduid != null">
        adduid,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updateuid != null">
        updateuid,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="enabledflag != null">
        enabledflag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="vcip != null">
        #{vcip,jdbcType=VARCHAR},
      </if>
      <if test="apikey != null">
        #{apikey,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="datestart != null">
        #{datestart,jdbcType=TIMESTAMP},
      </if>
      <if test="dateend != null">
        #{dateend,jdbcType=TIMESTAMP},
      </if>
      <if test="adduid != null">
        #{adduid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuid != null">
        #{updateuid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabledflag != null">
        #{enabledflag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cityre.mis.datavip.entity.IpWhiteList">
    update ip_whitelist
    <set>
      <if test="vcip != null">
        vcip = #{vcip,jdbcType=VARCHAR},
      </if>
      <if test="apikey != null">
        apikey = #{apikey,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="datestart != null">
        datestart = #{datestart,jdbcType=TIMESTAMP},
      </if>
      <if test="dateend != null">
        dateend = #{dateend,jdbcType=TIMESTAMP},
      </if>
      <if test="adduid != null">
        adduid = #{adduid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuid != null">
        updateuid = #{updateuid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabledflag != null">
        enabledflag = #{enabledflag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cityre.mis.datavip.entity.IpWhiteList">
    update ip_whitelist
    set vcip = #{vcip,jdbcType=VARCHAR},
      apikey = #{apikey,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      datestart = #{datestart,jdbcType=TIMESTAMP},
      dateend = #{dateend,jdbcType=TIMESTAMP},
      adduid = #{adduid,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updateuid = #{updateuid,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      enabledflag = #{enabledflag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>