<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.datavip.dao.PermissionListMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.mis.datavip.entity.PermissionList">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="perm_code" jdbcType="VARCHAR" property="permCode" />
    <result column="perm_name" jdbcType="VARCHAR" property="permName" />
    <result column="perm_url" jdbcType="VARCHAR" property="permUrl" />
    <result column="perm_type" jdbcType="VARCHAR" property="permType" />
    <result column="parent_perm" jdbcType="VARCHAR" property="parentPerm" />
    <result column="showorder" jdbcType="SMALLINT" property="showOrder" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="add_uid" jdbcType="VARCHAR" property="addUid" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_uid" jdbcType="VARCHAR" property="updateUid" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, perm_code, perm_name, perm_url, perm_type, parent_perm, showorder, remark, add_uid, 
    add_time, update_uid, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permission_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.cityre.mis.datavip.entity.PermissionList">
    insert into permission_list (id, perm_code, perm_name, 
      perm_url, perm_type, parent_perm, 
      showorder, remark, add_uid, 
      add_time, update_uid, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{permCode,jdbcType=VARCHAR}, #{permName,jdbcType=VARCHAR}, 
      #{permUrl,jdbcType=VARCHAR}, #{permType,jdbcType=VARCHAR}, #{parentPerm,jdbcType=VARCHAR}, 
      #{showorder,jdbcType=SMALLINT}, #{remark,jdbcType=VARCHAR}, #{addUid,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updateUid,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.cityre.mis.datavip.entity.PermissionList">
    insert into permission_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="permCode != null">
        perm_code,
      </if>
      <if test="permName != null">
        perm_name,
      </if>
      <if test="permUrl != null">
        perm_url,
      </if>
      <if test="permType != null">
        perm_type,
      </if>
      <if test="parentPerm != null">
        parent_perm,
      </if>
      <if test="showorder != null">
        showorder,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="addUid != null">
        add_uid,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateUid != null">
        update_uid,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="permCode != null">
        #{permCode,jdbcType=VARCHAR},
      </if>
      <if test="permName != null">
        #{permName,jdbcType=VARCHAR},
      </if>
      <if test="permUrl != null">
        #{permUrl,jdbcType=VARCHAR},
      </if>
      <if test="permType != null">
        #{permType,jdbcType=VARCHAR},
      </if>
      <if test="parentPerm != null">
        #{parentPerm,jdbcType=VARCHAR},
      </if>
      <if test="showorder != null">
        #{showorder,jdbcType=SMALLINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addUid != null">
        #{addUid,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null">
        #{updateUid,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cityre.mis.datavip.entity.PermissionList">
    update permission_list
    <set>
      <if test="permCode != null">
        perm_code = #{permCode,jdbcType=VARCHAR},
      </if>
      <if test="permName != null">
        perm_name = #{permName,jdbcType=VARCHAR},
      </if>
      <if test="permUrl != null">
        perm_url = #{permUrl,jdbcType=VARCHAR},
      </if>
      <if test="permType != null">
        perm_type = #{permType,jdbcType=VARCHAR},
      </if>
      <if test="parentPerm != null">
        parent_perm = #{parentPerm,jdbcType=VARCHAR},
      </if>
      <if test="showorder != null">
        showorder = #{showorder,jdbcType=SMALLINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addUid != null">
        add_uid = #{addUid,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null">
        update_uid = #{updateUid,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cityre.mis.datavip.entity.PermissionList">
    update permission_list
    set perm_code = #{permCode,jdbcType=VARCHAR},
      perm_name = #{permName,jdbcType=VARCHAR},
      perm_url = #{permUrl,jdbcType=VARCHAR},
      perm_type = #{permType,jdbcType=VARCHAR},
      parent_perm = #{parentPerm,jdbcType=VARCHAR},
      showorder = #{showorder,jdbcType=SMALLINT},
      remark = #{remark,jdbcType=VARCHAR},
      add_uid = #{addUid,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_uid = #{updateUid,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>