<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.datavip.dao.UidOpencodeMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.mis.datavip.entity.UidOpenCode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="openuid" jdbcType="VARCHAR" property="openUid" />
    <result column="unionid" jdbcType="VARCHAR" property="unionId" />
    <result column="appid" jdbcType="VARCHAR" property="appId" />
    <result column="opensource" jdbcType="VARCHAR" property="openSource" />
    <result column="apikey" jdbcType="VARCHAR" property="apikey" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, openuid, unionid, appid, opensource, apikey, createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from uid_opencode
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from uid_opencode
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.cityre.mis.datavip.entity.UidOpenCode">
    insert into uid_opencode (id, uid, openuid, 
      unionid, appid, opensource, 
      apikey, createtime, updatetime
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{openuid,jdbcType=VARCHAR}, 
      #{unionid,jdbcType=VARCHAR}, #{appid,jdbcType=VARCHAR}, #{opensource,jdbcType=VARCHAR}, 
      #{apikey,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.cityre.mis.datavip.entity.UidOpenCode">
    insert into uid_opencode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="openuid != null">
        openuid,
      </if>
      <if test="unionid != null">
        unionid,
      </if>
      <if test="appid != null">
        appid,
      </if>
      <if test="opensource != null">
        opensource,
      </if>
      <if test="apikey != null">
        apikey,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="openuid != null">
        #{openuid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="opensource != null">
        #{opensource,jdbcType=VARCHAR},
      </if>
      <if test="apikey != null">
        #{apikey,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cityre.mis.datavip.entity.UidOpenCode">
    update uid_opencode
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="openuid != null">
        openuid = #{openuid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="opensource != null">
        opensource = #{opensource,jdbcType=VARCHAR},
      </if>
      <if test="apikey != null">
        apikey = #{apikey,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cityre.mis.datavip.entity.UidOpenCode">
    update uid_opencode
    set uid = #{uid,jdbcType=VARCHAR},
      openuid = #{openuid,jdbcType=VARCHAR},
      unionid = #{unionid,jdbcType=VARCHAR},
      appid = #{appid,jdbcType=VARCHAR},
      opensource = #{opensource,jdbcType=VARCHAR},
      apikey = #{apikey,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>