<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.datavip.dao.UserDownloadMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.mis.datavip.entity.UserDownload">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="unionUid" jdbcType="VARCHAR" property="unionUid" />
    <result column="productCode" jdbcType="VARCHAR" property="productCode" />
    <result column="orderCode" jdbcType="VARCHAR" property="orderCode" />
    <result column="orderServiceId" jdbcType="INTEGER" property="orderServiceId" />
    <result column="downloadCode" jdbcType="VARCHAR" property="downloadCode" />
    <result column="fileKey" jdbcType="VARCHAR" property="fileKey" />
    <result column="fileName" jdbcType="VARCHAR" property="fileName" />
    <result column="fileSecret" jdbcType="VARCHAR" property="fileSecret" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="expireTime" jdbcType="TIMESTAMP" property="expireTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, unionUid, productCode, orderCode, orderServiceId, downloadCode, fileKey, fileName, 
    fileSecret, title, description, createTime, expireTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_download
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_download
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.cityre.mis.datavip.entity.UserDownload">
    insert into user_download (id, unionUid, productCode, 
      orderCode, orderServiceId, downloadCode, 
      fileKey, fileName, fileSecret, 
      title, description, createTime, 
      expireTime)
    values (#{id,jdbcType=INTEGER}, #{unionuid,jdbcType=VARCHAR}, #{productcode,jdbcType=VARCHAR}, 
      #{ordercode,jdbcType=VARCHAR}, #{orderserviceid,jdbcType=INTEGER}, #{downloadcode,jdbcType=VARCHAR}, 
      #{filekey,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, #{filesecret,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{expiretime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.cityre.mis.datavip.entity.UserDownload">
    insert into user_download
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="unionuid != null">
        unionUid,
      </if>
      <if test="productcode != null">
        productCode,
      </if>
      <if test="ordercode != null">
        orderCode,
      </if>
      <if test="orderserviceid != null">
        orderServiceId,
      </if>
      <if test="downloadcode != null">
        downloadCode,
      </if>
      <if test="filekey != null">
        fileKey,
      </if>
      <if test="filename != null">
        fileName,
      </if>
      <if test="filesecret != null">
        fileSecret,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="expiretime != null">
        expireTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="unionuid != null">
        #{unionuid,jdbcType=VARCHAR},
      </if>
      <if test="productcode != null">
        #{productcode,jdbcType=VARCHAR},
      </if>
      <if test="ordercode != null">
        #{ordercode,jdbcType=VARCHAR},
      </if>
      <if test="orderserviceid != null">
        #{orderserviceid,jdbcType=INTEGER},
      </if>
      <if test="downloadcode != null">
        #{downloadcode,jdbcType=VARCHAR},
      </if>
      <if test="filekey != null">
        #{filekey,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filesecret != null">
        #{filesecret,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiretime != null">
        #{expiretime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cityre.mis.datavip.entity.UserDownload">
    update user_download
    <set>
      <if test="unionuid != null">
        unionUid = #{unionuid,jdbcType=VARCHAR},
      </if>
      <if test="productcode != null">
        productCode = #{productcode,jdbcType=VARCHAR},
      </if>
      <if test="ordercode != null">
        orderCode = #{ordercode,jdbcType=VARCHAR},
      </if>
      <if test="orderserviceid != null">
        orderServiceId = #{orderserviceid,jdbcType=INTEGER},
      </if>
      <if test="downloadcode != null">
        downloadCode = #{downloadcode,jdbcType=VARCHAR},
      </if>
      <if test="filekey != null">
        fileKey = #{filekey,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        fileName = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filesecret != null">
        fileSecret = #{filesecret,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiretime != null">
        expireTime = #{expiretime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cityre.mis.datavip.entity.UserDownload">
    update user_download
    set unionUid = #{unionuid,jdbcType=VARCHAR},
      productCode = #{productcode,jdbcType=VARCHAR},
      orderCode = #{ordercode,jdbcType=VARCHAR},
      orderServiceId = #{orderserviceid,jdbcType=INTEGER},
      downloadCode = #{downloadcode,jdbcType=VARCHAR},
      fileKey = #{filekey,jdbcType=VARCHAR},
      fileName = #{filename,jdbcType=VARCHAR},
      fileSecret = #{filesecret,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      expireTime = #{expiretime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>