<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.datavip.dao.UserIdentityMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.mis.datavip.entity.UserIdentity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="cardnum" jdbcType="VARCHAR" property="cardNum" />
    <result column="profession" jdbcType="VARCHAR" property="profession" />
    <result column="filename" jdbcType="VARCHAR" property="fileName" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_industry" jdbcType="VARCHAR" property="companyIndustry" />
    <result column="vc2status" jdbcType="INTEGER" property="vc2Status" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="updatedate" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="reviewer" jdbcType="VARCHAR" property="reviewer" />
    <result column="opinion" jdbcType="VARCHAR" property="opinion" />
    <result column="audittime" jdbcType="TIMESTAMP" property="auditTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, cardnum, profession, filename, company_name, company_industry, vc2status, 
    createdate, updatedate, reviewer, opinion, audittime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_identity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_identity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.cityre.mis.datavip.entity.UserIdentity">
    insert into user_identity (id, uid, cardnum, 
      profession, filename, company_name, 
      company_industry, vc2status, createdate, 
      updatedate, reviewer, opinion, 
      audittime)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{cardnum,jdbcType=VARCHAR}, 
      #{profession,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{companyIndustry,jdbcType=VARCHAR}, #{vc2status,jdbcType=INTEGER}, #{createdate,jdbcType=TIMESTAMP}, 
      #{updatedate,jdbcType=TIMESTAMP}, #{reviewer,jdbcType=VARCHAR}, #{opinion,jdbcType=VARCHAR}, 
      #{audittime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.cityre.mis.datavip.entity.UserIdentity">
    insert into user_identity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="cardnum != null">
        cardnum,
      </if>
      <if test="profession != null">
        profession,
      </if>
      <if test="filename != null">
        filename,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="companyIndustry != null">
        company_industry,
      </if>
      <if test="vc2status != null">
        vc2status,
      </if>
      <if test="createdate != null">
        createdate,
      </if>
      <if test="updatedate != null">
        updatedate,
      </if>
      <if test="reviewer != null">
        reviewer,
      </if>
      <if test="opinion != null">
        opinion,
      </if>
      <if test="audittime != null">
        audittime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="cardnum != null">
        #{cardnum,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyIndustry != null">
        #{companyIndustry,jdbcType=VARCHAR},
      </if>
      <if test="vc2status != null">
        #{vc2status,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null">
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewer != null">
        #{reviewer,jdbcType=VARCHAR},
      </if>
      <if test="opinion != null">
        #{opinion,jdbcType=VARCHAR},
      </if>
      <if test="audittime != null">
        #{audittime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cityre.mis.datavip.entity.UserIdentity">
    update user_identity
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="cardnum != null">
        cardnum = #{cardnum,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyIndustry != null">
        company_industry = #{companyIndustry,jdbcType=VARCHAR},
      </if>
      <if test="vc2status != null">
        vc2status = #{vc2status,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null">
        updatedate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewer != null">
        reviewer = #{reviewer,jdbcType=VARCHAR},
      </if>
      <if test="opinion != null">
        opinion = #{opinion,jdbcType=VARCHAR},
      </if>
      <if test="audittime != null">
        audittime = #{audittime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cityre.mis.datavip.entity.UserIdentity">
    update user_identity
    set uid = #{uid,jdbcType=VARCHAR},
      cardnum = #{cardnum,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_industry = #{companyIndustry,jdbcType=VARCHAR},
      vc2status = #{vc2status,jdbcType=INTEGER},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      updatedate = #{updatedate,jdbcType=TIMESTAMP},
      reviewer = #{reviewer,jdbcType=VARCHAR},
      opinion = #{opinion,jdbcType=VARCHAR},
      audittime = #{audittime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>