<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.datavip.dao.UserDownloadHistoryMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.mis.datavip.entity.UserDownloadHistory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userDownloadId" jdbcType="INTEGER" property="userDownloadId" />
    <result column="orderCode" jdbcType="VARCHAR" property="orderCode" />
    <result column="orderServiceId" jdbcType="INTEGER" property="orderServiceId" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userDownloadId, orderCode, orderServiceId, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_download_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_download_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.cityre.mis.datavip.entity.UserDownloadHistory">
    insert into user_download_history (id, userDownloadId, orderCode, 
      orderServiceId, createTime, updateTime
      )
    values (#{id,jdbcType=INTEGER}, #{userdownloadid,jdbcType=INTEGER}, #{ordercode,jdbcType=VARCHAR}, 
      #{orderserviceid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.cityre.mis.datavip.entity.UserDownloadHistory">
    insert into user_download_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userdownloadid != null">
        userDownloadId,
      </if>
      <if test="ordercode != null">
        orderCode,
      </if>
      <if test="orderserviceid != null">
        orderServiceId,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userdownloadid != null">
        #{userdownloadid,jdbcType=INTEGER},
      </if>
      <if test="ordercode != null">
        #{ordercode,jdbcType=VARCHAR},
      </if>
      <if test="orderserviceid != null">
        #{orderserviceid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cityre.mis.datavip.entity.UserDownloadHistory">
    update user_download_history
    <set>
      <if test="userdownloadid != null">
        userDownloadId = #{userdownloadid,jdbcType=INTEGER},
      </if>
      <if test="ordercode != null">
        orderCode = #{ordercode,jdbcType=VARCHAR},
      </if>
      <if test="orderserviceid != null">
        orderServiceId = #{orderserviceid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cityre.mis.datavip.entity.UserDownloadHistory">
    update user_download_history
    set userDownloadId = #{userdownloadid,jdbcType=INTEGER},
      orderCode = #{ordercode,jdbcType=VARCHAR},
      orderServiceId = #{orderserviceid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>