<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.datavip.dao.UserInviteRegMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.mis.datavip.entity.UserInviteReg">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="reguid" jdbcType="VARCHAR" property="regUid" />
    <result column="pay_status" jdbcType="INTEGER" property="payStatus" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="updatedate" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="apikey" jdbcType="VARCHAR" property="apikey" />
    <result column="producttype" jdbcType="INTEGER" property="productType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, reguid, pay_status, createdate, updatedate, apikey, producttype
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_invite_reg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_invite_reg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.cityre.mis.datavip.entity.UserInviteReg">
    insert into user_invite_reg (id, uid, reguid, 
      pay_status, createdate, updatedate, 
      apikey, producttype)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{reguid,jdbcType=VARCHAR}, 
      #{payStatus,jdbcType=INTEGER}, #{createdate,jdbcType=TIMESTAMP}, #{updatedate,jdbcType=TIMESTAMP}, 
      #{apikey,jdbcType=VARCHAR}, #{producttype,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.cityre.mis.datavip.entity.UserInviteReg">
    insert into user_invite_reg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="reguid != null">
        reguid,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
      <if test="createdate != null">
        createdate,
      </if>
      <if test="updatedate != null">
        updatedate,
      </if>
      <if test="apikey != null">
        apikey,
      </if>
      <if test="producttype != null">
        producttype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="reguid != null">
        #{reguid,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null">
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="apikey != null">
        #{apikey,jdbcType=VARCHAR},
      </if>
      <if test="producttype != null">
        #{producttype,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cityre.mis.datavip.entity.UserInviteReg">
    update user_invite_reg
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="reguid != null">
        reguid = #{reguid,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null">
        updatedate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="apikey != null">
        apikey = #{apikey,jdbcType=VARCHAR},
      </if>
      <if test="producttype != null">
        producttype = #{producttype,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cityre.mis.datavip.entity.UserInviteReg">
    update user_invite_reg
    set uid = #{uid,jdbcType=VARCHAR},
      reguid = #{reguid,jdbcType=VARCHAR},
      pay_status = #{payStatus,jdbcType=INTEGER},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      updatedate = #{updatedate,jdbcType=TIMESTAMP},
      apikey = #{apikey,jdbcType=VARCHAR},
      producttype = #{producttype,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>