<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.account.sys.dao.UserPhoneMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.account.sys.model.UserPhone">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="unionUid" jdbcType="VARCHAR" property="unionuid" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="isVerified" jdbcType="TINYINT" property="isverified" />
    <result column="isPrimary" jdbcType="TINYINT" property="isprimary" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, unionUid, phone, isVerified, isPrimary, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v2017_user_phone
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from v2017_user_phone
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.cityre.account.sys.model.UserPhone">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into v2017_user_phone (unionUid, phone, isVerified, 
      isPrimary, createTime, updateTime
      )
    values (#{unionuid,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{isverified,jdbcType=TINYINT}, 
      #{isprimary,jdbcType=TINYINT}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.cityre.account.sys.model.UserPhone">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into v2017_user_phone
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="unionuid != null">
        unionUid,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="isverified != null">
        isVerified,
      </if>
      <if test="isprimary != null">
        isPrimary,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="unionuid != null">
        #{unionuid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="isverified != null">
        #{isverified,jdbcType=TINYINT},
      </if>
      <if test="isprimary != null">
        #{isprimary,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cityre.account.sys.model.UserPhone">
    update v2017_user_phone
    <set>
      <if test="unionuid != null">
        unionUid = #{unionuid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="isverified != null">
        isVerified = #{isverified,jdbcType=TINYINT},
      </if>
      <if test="isprimary != null">
        isPrimary = #{isprimary,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cityre.account.sys.model.UserPhone">
    update v2017_user_phone
    set unionUid = #{unionuid,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      isVerified = #{isverified,jdbcType=TINYINT},
      isPrimary = #{isprimary,jdbcType=TINYINT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>