<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.center.dao.CityMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.mis.center.model.City">
    <id column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="city_pinyin" jdbcType="VARCHAR" property="cityPinyin" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="city_url" jdbcType="VARCHAR" property="cityUrl" />
    <result column="ordernum" jdbcType="INTEGER" property="ordernum" />
    <result column="city_order" jdbcType="VARCHAR" property="cityOrder" />
    <result column="gbcode" jdbcType="VARCHAR" property="gbcode" />
    <result column="iscapital" jdbcType="INTEGER" property="iscapital" />
    <result column="isdirectcity" jdbcType="INTEGER" property="isdirectcity" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="adduid" jdbcType="VARCHAR" property="adduid" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="updateuid" jdbcType="VARCHAR" property="updateuid" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    city_code, id, city_pinyin, province_code, province, city_name, city_url, ordernum, 
    city_order, gbcode, iscapital, isdirectcity, level, adduid, addtime, updateuid, updatetime
  </sql>
  <sql id="Example_Where_Clause">
    <where>
      <if test="cityName!=null"> and city_name=#{cityName,jdbcType=VARCHAR}</if>
    </where>
  </sql>
  <select id="selectList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from City
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from City
    where city_code = #{cityCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from City
    where city_code = #{cityCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.cityre.mis.center.model.City">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into City (city_code, city_pinyin, province_code, 
      province, city_name, city_url, 
      ordernum, city_order, gbcode, 
      iscapital, isdirectcity, level, 
      adduid, addtime, updateuid, 
      updatetime)
    values (#{cityCode,jdbcType=VARCHAR}, #{cityPinyin,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, #{cityUrl,jdbcType=VARCHAR}, 
      #{ordernum,jdbcType=INTEGER}, #{cityOrder,jdbcType=VARCHAR}, #{gbcode,jdbcType=VARCHAR}, 
      #{iscapital,jdbcType=INTEGER}, #{isdirectcity,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, 
      #{adduid,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}, #{updateuid,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.cityre.mis.center.model.City">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into City
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="cityPinyin != null">
        city_pinyin,
      </if>
      <if test="provinceCode != null">
        province_code,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="cityName != null">
        city_name,
      </if>
      <if test="cityUrl != null">
        city_url,
      </if>
      <if test="ordernum != null">
        ordernum,
      </if>
      <if test="cityOrder != null">
        city_order,
      </if>
      <if test="gbcode != null">
        gbcode,
      </if>
      <if test="iscapital != null">
        iscapital,
      </if>
      <if test="isdirectcity != null">
        isdirectcity,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="adduid != null">
        adduid,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="updateuid != null">
        updateuid,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityPinyin != null">
        #{cityPinyin,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityUrl != null">
        #{cityUrl,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null">
        #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="cityOrder != null">
        #{cityOrder,jdbcType=VARCHAR},
      </if>
      <if test="gbcode != null">
        #{gbcode,jdbcType=VARCHAR},
      </if>
      <if test="iscapital != null">
        #{iscapital,jdbcType=INTEGER},
      </if>
      <if test="isdirectcity != null">
        #{isdirectcity,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="adduid != null">
        #{adduid,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuid != null">
        #{updateuid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cityre.mis.center.model.City">
    update City
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="cityPinyin != null">
        city_pinyin = #{cityPinyin,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null">
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityUrl != null">
        city_url = #{cityUrl,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null">
        ordernum = #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="cityOrder != null">
        city_order = #{cityOrder,jdbcType=VARCHAR},
      </if>
      <if test="gbcode != null">
        gbcode = #{gbcode,jdbcType=VARCHAR},
      </if>
      <if test="iscapital != null">
        iscapital = #{iscapital,jdbcType=INTEGER},
      </if>
      <if test="isdirectcity != null">
        isdirectcity = #{isdirectcity,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="adduid != null">
        adduid = #{adduid,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuid != null">
        updateuid = #{updateuid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where city_code = #{cityCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cityre.mis.center.model.City">
    update City
    set id = #{id,jdbcType=INTEGER},
      city_pinyin = #{cityPinyin,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      city_url = #{cityUrl,jdbcType=VARCHAR},
      ordernum = #{ordernum,jdbcType=INTEGER},
      city_order = #{cityOrder,jdbcType=VARCHAR},
      gbcode = #{gbcode,jdbcType=VARCHAR},
      iscapital = #{iscapital,jdbcType=INTEGER},
      isdirectcity = #{isdirectcity,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      adduid = #{adduid,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      updateuid = #{updateuid,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where city_code = #{cityCode,jdbcType=VARCHAR}
  </update>
</mapper>