<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.ifmanager.dao.MisProductMapper">
    <resultMap id="BaseResultMap" type="cn.cityre.mis.ifmanager.entity.MisProductPo">
        <id property="productCode" column="productCode" jdbcType="VARCHAR"/>
        <result property="productName" column="productName" jdbcType="VARCHAR"/>
        <result property="platform" column="platform" jdbcType="VARCHAR"/>
        <result property="createTime" column="createtTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--v2017_products：增删改查-->
    <sql id="Base_Column">
        productCode,productName,platform,createTime,updateTime
    </sql>

    <select id="selectByPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column"/>
        FROM v2017_products
    </select>

    <select id="selectAllProduct" resultMap="BaseResultMap" >
        SELECT
         <include refid="Base_Column"/>
         FROM v2017_products
    </select>
    <!--通过productCode进行查询-->
    <select id="selectProductByCode" resultType="cn.cityre.mis.ifmanager.entity.MisProductPo"
            parameterType="java.lang.String">
        select
        <include refid="Base_Column"/>
        FROM  v2017_products
        WHERE productCode=#{productCode,jdbcType=VARCHAR}
    </select>
    <!--通过productCode进行删除-->
    <delete id="deleteByProductCode" parameterType="java.lang.String">
        DELETE FROM v2017_products  WHERE productCode = #{productCode,jdbcType=VARCHAR}
    </delete>
    <!--修改-->
    <update id="updateProduct" parameterType="cn.cityre.mis.ifmanager.entity.MisProductPo">
        UPDATE v2017_products
        <set>
            <if test="productName!=null">
                productName = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="platform!=null">
                platform = #{platform,jdbcType = VARCHAR},
            </if>
            <if test="updateTime!=null">
                updateTime = now()
            </if>
            <!--<choose>-->
                <!--<when test="updateTime!=null">-->
                    <!--updateTime= #{updateTime,jdbcType=TIMESTAMP},-->
                <!--</when>-->
                <!--<otherwise>updateTime = now(),</otherwise>-->
            <!--</choose>-->
        </set>
        WHERE productCode = #{productCode,jdbcType=VARCHAR}
    </update>
    <!--插入-->
    <insert id="createProduct" parameterType="cn.cityre.mis.ifmanager.entity.MisProductPo">
        INSERT INTO v2017_products
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productCode!=null">
                productCode,
            </if>
            <if test="productName!=null">
                productName,
            </if>
            <if test="platform!=null">
                platform,
            </if>
                createTime,
                updateTime,
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productCode!=null">
                #{productCode,jdbcType=VARCHAR},
            </if>
            <if test="productName!=null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="platform!=null">
                #{platform,jdbcType=VARCHAR},
            </if>
           <choose>
               <when test="createTime!=null">
                   #{createTime,jdbcType=TIMESTAMP},
               </when>
               <otherwise>now(),</otherwise>
           </choose>
            <choose>
                <when test="updateTime!=null">
                    #{updateTime,jdbcType=TIMESTAMP},
                </when>
                <otherwise>now(),</otherwise>
            </choose>
        </trim>
    </insert>
</mapper>
