<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--  配置hibernate SessionFactory-->
    <bean id="cityreCenterSessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dynamicDataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${jdbc.cargo.connection.dialect}</prop>
                <!--<prop key="hibernate.hbm2ddl.auto">update</prop>-->
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hiberante.format_sql">true</prop>
                <prop key="hibernate.autoReconnect">true</prop>
                <!-- Enable Hibernate's automatic session context management      -->
                <prop key="current_session_context_class">thread</prop>
                <!-- Disable the second-level cache -->
                <!--<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
                 -->
                <!--&lt;!&ndash;&lt;!&ndash; 配置二级缓存&ndash;&gt;&ndash;&gt;-->
                <!--<prop key="hibernate.cache.use_second_level_cache">${hibernate.cache}</prop>-->
                <!--&lt;!&ndash;&lt;!&ndash; 开启查询缓存&ndash;&gt;&ndash;&gt;-->
                <!--<prop key="hibernate.cache.use_query_cache">${hibernate.query.cache}</prop>-->
                <!--<prop key="hibernate.cache.provider_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</prop>-->
                <!--<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>-->
                <!--&lt;!&ndash;useful for debugging&ndash;&gt;-->
                <!--<prop key="hibernate.generate_statistics">${hibernate.statistics}</prop>-->
            </props>
        </property>
        <property name="packagesToScan">
            <list>
                <value>*.**.entity.cpo</value>
            </list>
        </property>
    </bean>




</beans>