<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.sys.dao.GroupPrivilegesMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.mis.sys.model.GroupPrivileges">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="repository_id" jdbcType="INTEGER" property="repositoryId" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="createdby" jdbcType="VARCHAR" property="createdby" />
  </resultMap>
  <sql id="Base_Column_List">
    id, group_id, repository_id, created, createdby
  </sql>
  <sql id="Example_Where_Clause">
    <where>
      <if test="groupId!=null"> and group_id= #{groupId,jdbcType=INTEGER}</if>
      <if test="repositoryIdList!=null and repositoryIdList.size > 0"> and  repository_id not in
        <foreach collection="repositoryIdList" item="repositoryId"   open="(" close=")" separator=",">
          #{repositoryId}
        </foreach>
      </if>

    </where>
  </sql>
  <select id="countPrivilegesByRepIdAndGroupId" resultType="java.lang.Integer">
      select count(*) from sys_group_privileges where group_id=#{groupId} and repository_id=#{repositoryId}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_group_privileges
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getGroupPrivilegeList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_group_privileges where group_id=#{value,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_group_privileges
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteList">
    delete from sys_group_privileges
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteListByRepositoryId">
    delete from sys_group_privileges where  repository_id=#{repositoryId}
  </delete>
  <insert id="insert" parameterType="cn.cityre.mis.sys.model.GroupPrivileges">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_group_privileges (group_id, repository_id, created, 
      createdby)
    values (#{groupId,jdbcType=INTEGER}, #{repositoryId,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP}, 
      #{createdby,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.cityre.mis.sys.model.GroupPrivileges">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_group_privileges
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        group_id,
      </if>
      <if test="repositoryId != null">
        repository_id,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="createdby != null">
        createdby,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="repositoryId != null">
        #{repositoryId,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null">
        #{createdby,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cityre.mis.sys.model.GroupPrivileges">
    update sys_group_privileges
    <set>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="repositoryId != null">
        repository_id = #{repositoryId,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null">
        createdby = #{createdby,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cityre.mis.sys.model.GroupPrivileges">
    update sys_group_privileges
    set group_id = #{groupId,jdbcType=INTEGER},
      repository_id = #{repositoryId,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      createdby = #{createdby,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>