<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.cityreaccount.datavip.dao.BillsMapper">
    <resultMap id="BaseResultMap" type="cn.cityre.mis.cityreaccount.datavip.entity.Bills">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="suid" jdbcType="VARCHAR" property="suid"/>
        <result column="big_billcode" jdbcType="VARCHAR" property="bigBillCode"/>
        <result column="bill_code" jdbcType="VARCHAR" property="billCode"/>
        <result column="alipay_bill_code" jdbcType="VARCHAR" property="alipayBillCode"/>
        <result column="post_invoice_flag" jdbcType="INTEGER" property="postInvoiceFlag"/>
        <result column="product_code" jdbcType="VARCHAR" property="productCode"/>
        <result column="product_num" jdbcType="INTEGER" property="productNum"/>
        <result column="product_cost" jdbcType="DOUBLE" property="productCost"/>
        <result column="product_remark" jdbcType="VARCHAR" property="productRemark"/>
        <result column="invoice_type" jdbcType="INTEGER" property="invoiceType"/>
        <result column="invoice_title" jdbcType="VARCHAR" property="invoiceTitle"/>
        <result column="post_user" jdbcType="VARCHAR" property="postUser"/>
        <result column="post_type" jdbcType="VARCHAR" property="postType"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="addtime" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="pay_flag" jdbcType="INTEGER" property="payFlag"/>
        <result column="pay_updatetime" jdbcType="TIMESTAMP" property="payUpdateTime"/>
        <result column="w_pay_type" jdbcType="VARCHAR" property="wPayType"/>
        <result column="w_pay_user" jdbcType="VARCHAR" property="wPayUser"/>
        <result column="w_pay_tel" jdbcType="VARCHAR" property="wPayTel"/>
        <result column="invoice_no" jdbcType="VARCHAR" property="invoiceNo"/>
        <result column="kp_invoice_time" jdbcType="TIMESTAMP" property="kpInvoiceTime"/>
        <result column="invoice_no_uid" jdbcType="VARCHAR" property="invoiceNoUid"/>
        <result column="invoice_no_time" jdbcType="TIMESTAMP" property="invoiceNoTime"/>
        <result column="invoice_no_flag" jdbcType="INTEGER" property="invoiceNoFlag"/>
        <result column="invoice_taxno" jdbcType="VARCHAR" property="invoiceTaxNo"/>
        <result column="invoice_adtel" jdbcType="VARCHAR" property="invoiceAdTel"/>
        <result column="invoice_bankno" jdbcType="VARCHAR" property="invoiceBankNo"/>
        <result column="autoopen_url" jdbcType="VARCHAR" property="autoOpenUrl"/>
        <result column="city_code" jdbcType="VARCHAR" property="cityCode"/>
        <result column="source" jdbcType="INTEGER" property="source"/>
        <result column="pkey" jdbcType="VARCHAR" property="pKey"/>
        <result column="plevel" jdbcType="INTEGER" property="pLevel"/>
        <result column="dist_code" jdbcType="VARCHAR" property="distCode"/>
        <result column="ha_code" jdbcType="VARCHAR" property="haCode"/>
        <result column="pgps" jdbcType="VARCHAR" property="pgps"/>
        <result column="buymonth" jdbcType="VARCHAR" property="buyMonth"/>
        <result column="haclcode" jdbcType="VARCHAR" property="haclCode"/>
        <result column="buygroup" jdbcType="VARCHAR" property="buyGroup"/>
        <result column="dealtype" jdbcType="INTEGER" property="dealType"/>
        <result column="contentname" jdbcType="VARCHAR" property="contentName"/>
        <result column="province_code" jdbcType="VARCHAR" property="provinceCode"/>
    </resultMap>

    <resultMap id="UserPaymentBillsMap" type="cn.cityre.mis.cityreaccount.datavip.entity.Bills" extends="BaseResultMap">
        <result property="userPaymentInfo.startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="userPaymentInfo.endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="userPaymentInfo.payAmount" column="pay_amount" jdbcType="VARCHAR"/>
        <result property="userPaymentInfo.payTime" column="pay_time" jdbcType="TIMESTAMP"/>
        <result property="dicUserType.userTypeName" column="user_type_name" jdbcType="VARCHAR"/>
        <result property="dicUserType.note" column="note" jdbcType="VARCHAR"/>
        <result property="userList.uid" column="uid" jdbcType="VARCHAR"/>
        <result property="userList.userName" column="username" jdbcType="VARCHAR"/>
        <result property="userList.regTime" column="regtime" jdbcType="TIMESTAMP"/>
        <result property="userList.email" column="email" jdbcType="VARCHAR"/>
        <result property="userList.flag" column="flag" jdbcType="INTEGER"/>
        <result property="dicPostType.typeName" column="post_type_name" jdbcType="VARCHAR"/>
        <result property="dicPayType.typeName" column="type_name" jdbcType="VARCHAR"/>
    </resultMap>


    <resultMap id="BillsMap" type="cn.cityre.mis.cityreaccount.datavip.entity.Bills" extends="BaseResultMap">
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="typeName" column="type_name" jdbcType="VARCHAR"/>
        <result property="postTypeName" column="post_type_name" jdbcType="VARCHAR"/>
        <result property="uid" column="uid" jdbcType="VARCHAR"/>
        <result property="userTypeName" column="user_type_name" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="Base_Column_List">
    id, suid, big_billcode, bill_code, alipay_bill_code, post_invoice_flag, product_code, 
    product_num, product_cost, product_remark, invoice_type, invoice_title, post_user, 
    post_type, address, tel, addtime, updatetime, pay_flag, pay_updatetime, w_pay_type, 
    w_pay_user, w_pay_tel, invoice_no, kp_invoice_time, invoice_no_uid, invoice_no_time, 
    invoice_no_flag, invoice_taxno, invoice_adtel, invoice_bankno, autoopen_url, city_code, 
    source, pkey, plevel, dist_code, ha_code, pgps, buymonth, haclcode, buygroup, dealtype, 
    contentname, province_code
  </sql>

    <sql id="where_sql">
        <where>
        <if test="billCode!=null">
        AND bills.bill_code like CONCAT('%',#{billCode,jdbcType=VARCHAR},'%')
        </if>
        <if test="bigBillCode!=null">
        AND bills.big_billcode LIKE concat('%',#{bigBillCode,jdbcType=VARCHAR},'%')
        </if>
        <if test="alipayBillCode!=null">
        AND bills.alipay_bill_code LIKE concat('%',#{alipayBillCode,jdbcType=VARCHAR},'%')
        </if>
        <if test="typeCode!=null">
        AND dic_pay_type.type_code =#{typeCode,jdbcType=VARCHAR}
        </if>
        <if test="payFlag!=null">
        AND bills.pay_flag =#{payFlag,jdbcType=VARCHAR}
        </if>
        <if test="postInvoiceFlag!=null">
        AND bills.post_invoice_flag = #{postInvoiceFlag,jdbcType=VARCHAR}
        </if>
        <if test="invoiceType!=null">
        AND bills.invoice_type = #{invoiceType,jdbcType=VARCHAR}
        </if>
        <if test="postTypeCode!=null">
        AND bills.post_type = #{postTypeCode,jdbcType=VARCHAR}
        </if>
        <if test="invoiceNoFlag!=null">
        AND bills.invoice_no_flag = #{invoiceNoFlag,jdbcType=INTEGER}
        </if>
        <if test="invoiceNo!=null">
        AND bills.invoice_no concat('%',#{invoiceNo,jdbcType=VARCHAR},'%')
        </if>
        <if test="uid!=null">
        AND userlist.uid LIKE concat('%',#{uid,jdbcType=VARCHAR},'%')
        </if>
        </where>
    </sql>
    <!--Mybatis联合查询-->
    <select id="selectDefaultByPage" resultMap="BillsMap" parameterType="java.util.Map">
        SELECT
        bills.big_billcode,bills.bill_code,bills.alipay_bill_code,
        user_payment_info.start_time,user_payment_info.end_time,
        bills.w_pay_type,ifnull(product_cost,0)as product_cost,pay_flag,pay_updatetime,bills.id,
        dic_pay_type.type_name
        ,post_invoice_flag,invoice_type,invoice_title,post_user,dic_post_type.post_type_name,address,tel,w_pay_user,w_pay_tel,invoice_no,kp_invoice_time,
        invoice_no_flag,invoice_taxno,invoice_adtel,invoice_bankno,dic_user_type.user_type_name, userlist.uid from bills
        left join user_payment_info on user_payment_info.suid=bills.suid and user_payment_info.billcode=bills.bill_code
        left join dic_pay_type on dic_pay_type.type_code=bills.w_pay_type
        left join dic_post_type on dic_post_type.post_type_code=bills.post_type
        inner join userlist on userlist.suid=bills.suid
        left join dic_user_type on userlist.user_type=dic_user_type.user_type_code
        <if test="_parameter!=null">
            <include refid="where_sql"/>
        </if>
        ORDER by pay_updatetime DESC
    </select>
    <!--Mybatis联合查询-->
    <select id="selectExportInfo" resultMap="BillsMap" parameterType="java.util.Map">
        SELECT
        bills.big_billcode,bills.bill_code,bills.alipay_bill_code,
        user_payment_info.start_time,user_payment_info.end_time,
        bills.w_pay_type,ifnull(product_cost,0)as product_cost,pay_flag,pay_updatetime,bills.id,
        dic_pay_type.type_name
        ,post_invoice_flag,invoice_type,invoice_title,post_user,dic_post_type.post_type_name,address,tel,w_pay_user,w_pay_tel,invoice_no,kp_invoice_time,
        invoice_no_flag,invoice_taxno,invoice_adtel,invoice_bankno,dic_user_type.user_type_name, userlist.uid from bills
        left join user_payment_info on user_payment_info.suid=bills.suid and user_payment_info.billcode=bills.bill_code
        left join dic_pay_type on dic_pay_type.type_code=bills.w_pay_type
        left join dic_post_type on dic_post_type.post_type_code=bills.post_type
        inner join userlist on userlist.suid=bills.suid
        left join dic_user_type on userlist.user_type=dic_user_type.user_type_code
        <if test="_parameter!=null">
            <include refid="where_sql"/>
        </if>
        ORDER by pay_updatetime DESC
    </select>
    <select id="selectByCode" resultMap="UserPaymentBillsMap" parameterType="java.lang.String">
    SELECT
   big_billcode,bill_code,alipay_bill_code,bills.suid,
   user_payment_info.start_time,user_payment_info.end_time,user_payment_info.pay_time,
   w_pay_type,ifnull(product_cost,0)as product_cost,pay_flag,pay_updatetime,bills.id,bills.product_code,
   dic_pay_type.type_name ,post_invoice_flag,invoice_type,invoice_title,post_user,dic_post_type.post_type_name,address,tel,w_pay_user,w_pay_tel,invoice_no,kp_invoice_time,
   invoice_no_flag,invoice_taxno,invoice_adtel,invoice_bankno,dic_user_type.user_type_name, userlist.uid from bills
   left join user_payment_info on user_payment_info.suid=bills.suid and user_payment_info.billcode=bills.bill_code
   left join dic_pay_type on dic_pay_type.type_code=bills.w_pay_type
   left join dic_post_type on dic_post_type.post_type_code=bills.post_type
   inner join userlist on  userlist.suid=bills.suid
   left join dic_user_type on userlist.user_type=dic_user_type.user_type_code WHERE bills.bill_code=#{billCode,jdbcType=VARCHAR}
    </select>

    <select id="selectAllBills" resultMap="BaseResultMap">
    SELECT
   bills.big_billcode,bills.bill_code,bills.alipay_bill_code,
   user_payment_info.start_time,user_payment_info.end_time,
   bills.w_pay_type,ifnull(product_cost,0)as product_cost,pay_flag,pay_updatetime,bills.id,
   dic_pay_type.type_name ,post_invoice_flag,invoice_type,invoice_title,post_user,dic_post_type.post_type_name,address,tel,w_pay_user,w_pay_tel,invoice_no,kp_invoice_time,
   invoice_no_flag,invoice_taxno,invoice_adtel,invoice_bankno,dic_user_type.user_type_name, userlist.uid from bills
   left join user_payment_info on user_payment_info.suid=bills.suid and user_payment_info.billcode=bills.bill_code
   left join dic_pay_type on dic_pay_type.type_code=bills.w_pay_type
   left join dic_post_type on dic_post_type.post_type_code=bills.post_type
   inner join userlist on  userlist.suid=bills.suid
   left join dic_user_type on userlist.user_type=dic_user_type.user_type_code
    </select>
    <select id="selectTime" resultType="java.util.Date">
        select now()
    </select>
    <!--登记发票-->
    <update id="updateInvoice" parameterType="cn.cityre.mis.cityreaccount.datavip.entity.Bills">
        UPDATE bills
        <set>
            <if test="invoiceNo!=null">
                invoice_no=#{invoiceNo,jdbcType=VARCHAR},
            </if>
            <choose>
                <when test="kpInvoiceTime!=null">
                    kp_invoice_time = #{kpInvoiceTime,jdbcType=TIMESTAMP},
                </when>
                <otherwise>
                    kp_invoice_time=now(),
                </otherwise>
            </choose>
            invoice_no_flag=1,
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <!--开通服务时间-->
    <update id="updateByBillsId" parameterType="cn.cityre.mis.cityreaccount.datavip.entity.Bills">
        UPDATE bills
        <set>
            <choose>
                <when test="payUpdateTime!=null">
                    pay_updatetime=#{payUpdateTime,jdbcType=VARCHAR},
                </when>
                <otherwise>now(),</otherwise>
            </choose>
            pay_flag=1,
        </set>
        WHERE id =#{id,jdbcType=INTEGER}
    </update>

    <!--通过大订单查询所有的小定单-->
    <select id="selectByBigBillCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bills
        WHERE big_billcode = #{bigBillCode,jdbcType=VARCHAR} AND IFNULL(pay_flag,0) = 0
    </select>


    <!--通过主键查询-->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bills
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bills
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="cn.cityre.mis.cityreaccount.datavip.entity.Bills" useGeneratedKeys="true" keyColumn="id"
            keyProperty="id">
        insert into bills
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="suid != null">
                suid,
            </if>
            <if test="bigBillcode != null">
                big_billcode,
            </if>
            <if test="billCode != null">
                bill_code,
            </if>
            <if test="alipayBillCode != null">
                alipay_bill_code,
            </if>
            <if test="postInvoiceFlag != null">
                post_invoice_flag,
            </if>
            <if test="productCode != null">
                product_code,
            </if>
            <if test="productNum != null">
                product_num,
            </if>
            <if test="productCost != null">
                product_cost,
            </if>
            <if test="productRemark != null">
                product_remark,
            </if>
            <if test="invoiceType != null">
                invoice_type,
            </if>
            <if test="invoiceTitle != null">
                invoice_title,
            </if>
            <if test="postUser != null">
                post_user,
            </if>
            <if test="postType != null">
                post_type,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="addtime != null">
                addtime,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
            <if test="payFlag != null">
                pay_flag,
            </if>
            <if test="payUpdatetime != null">
                pay_updatetime,
            </if>
            <if test="wPayType != null">
                w_pay_type,
            </if>
            <if test="wPayUser != null">
                w_pay_user,
            </if>
            <if test="wPayTel != null">
                w_pay_tel,
            </if>
            <if test="invoiceNo != null">
                invoice_no,
            </if>
            <if test="kpInvoiceTime != null">
                kp_invoice_time,
            </if>
            <if test="invoiceNoUid != null">
                invoice_no_uid,
            </if>
            <if test="invoiceNoTime != null">
                invoice_no_time,
            </if>
            <if test="invoiceNoFlag != null">
                invoice_no_flag,
            </if>
            <if test="invoiceTaxno != null">
                invoice_taxno,
            </if>
            <if test="invoiceAdtel != null">
                invoice_adtel,
            </if>
            <if test="invoiceBankno != null">
                invoice_bankno,
            </if>
            <if test="autoopenUrl != null">
                autoopen_url,
            </if>
            <if test="cityCode != null">
                city_code,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="pkey != null">
                pkey,
            </if>
            <if test="plevel != null">
                plevel,
            </if>
            <if test="distCode != null">
                dist_code,
            </if>
            <if test="haCode != null">
                ha_code,
            </if>
            <if test="pgps != null">
                pgps,
            </if>
            <if test="buymonth != null">
                buymonth,
            </if>
            <if test="haclcode != null">
                haclcode,
            </if>
            <if test="buygroup != null">
                buygroup,
            </if>
            <if test="dealtype != null">
                dealtype,
            </if>
            <if test="contentname != null">
                contentname,
            </if>
            <if test="provinceCode != null">
                province_code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="suid != null">
                #{suid,jdbcType=VARCHAR},
            </if>
            <if test="bigBillcode != null">
                #{bigBillcode,jdbcType=VARCHAR},
            </if>
            <if test="billCode != null">
                #{billCode,jdbcType=VARCHAR},
            </if>
            <if test="alipayBillCode != null">
                #{alipayBillCode,jdbcType=VARCHAR},
            </if>
            <if test="postInvoiceFlag != null">
                #{postInvoiceFlag,jdbcType=INTEGER},
            </if>
            <if test="productCode != null">
                #{productCode,jdbcType=VARCHAR},
            </if>
            <if test="productNum != null">
                #{productNum,jdbcType=INTEGER},
            </if>
            <if test="productCost != null">
                #{productCost,jdbcType=DOUBLE},
            </if>
            <if test="productRemark != null">
                #{productRemark,jdbcType=VARCHAR},
            </if>
            <if test="invoiceType != null">
                #{invoiceType,jdbcType=INTEGER},
            </if>
            <if test="invoiceTitle != null">
                #{invoiceTitle,jdbcType=VARCHAR},
            </if>
            <if test="postUser != null">
                #{postUser,jdbcType=VARCHAR},
            </if>
            <if test="postType != null">
                #{postType,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="addtime != null">
                #{addtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="payFlag != null">
                #{payFlag,jdbcType=INTEGER},
            </if>
            <if test="payUpdatetime != null">
                #{payUpdatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="wPayType != null">
                #{wPayType,jdbcType=VARCHAR},
            </if>
            <if test="wPayUser != null">
                #{wPayUser,jdbcType=VARCHAR},
            </if>
            <if test="wPayTel != null">
                #{wPayTel,jdbcType=VARCHAR},
            </if>
            <if test="invoiceNo != null">
                #{invoiceNo,jdbcType=VARCHAR},
            </if>
            <if test="kpInvoiceTime != null">
                #{kpInvoiceTime,jdbcType=TIMESTAMP},
            </if>
            <if test="invoiceNoUid != null">
                #{invoiceNoUid,jdbcType=VARCHAR},
            </if>
            <if test="invoiceNoTime != null">
                #{invoiceNoTime,jdbcType=TIMESTAMP},
            </if>
            <if test="invoiceNoFlag != null">
                #{invoiceNoFlag,jdbcType=INTEGER},
            </if>
            <if test="invoiceTaxno != null">
                #{invoiceTaxno,jdbcType=VARCHAR},
            </if>
            <if test="invoiceAdtel != null">
                #{invoiceAdtel,jdbcType=VARCHAR},
            </if>
            <if test="invoiceBankno != null">
                #{invoiceBankno,jdbcType=VARCHAR},
            </if>
            <if test="autoopenUrl != null">
                #{autoopenUrl,jdbcType=VARCHAR},
            </if>
            <if test="cityCode != null">
                #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                #{source,jdbcType=INTEGER},
            </if>
            <if test="pkey != null">
                #{pkey,jdbcType=VARCHAR},
            </if>
            <if test="plevel != null">
                #{plevel,jdbcType=INTEGER},
            </if>
            <if test="distCode != null">
                #{distCode,jdbcType=VARCHAR},
            </if>
            <if test="haCode != null">
                #{haCode,jdbcType=VARCHAR},
            </if>
            <if test="pgps != null">
                #{pgps,jdbcType=VARCHAR},
            </if>
            <if test="buymonth != null">
                #{buymonth,jdbcType=VARCHAR},
            </if>
            <if test="haclcode != null">
                #{haclcode,jdbcType=VARCHAR},
            </if>
            <if test="buygroup != null">
                #{buygroup,jdbcType=VARCHAR},
            </if>
            <if test="dealtype != null">
                #{dealtype,jdbcType=INTEGER},
            </if>
            <if test="contentname != null">
                #{contentname,jdbcType=VARCHAR},
            </if>
            <if test="provinceCode != null">
                #{provinceCode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.cityre.mis.cityreaccount.datavip.entity.Bills">
        update bills
        <set>
            <if test="suid != null">
                suid = #{suid,jdbcType=VARCHAR},
            </if>
            <if test="bigBillcode != null">
                big_billcode = #{bigBillcode,jdbcType=VARCHAR},
            </if>
            <if test="billCode != null">
                bill_code = #{billCode,jdbcType=VARCHAR},
            </if>
            <if test="alipayBillCode != null">
                alipay_bill_code = #{alipayBillCode,jdbcType=VARCHAR},
            </if>
            <if test="postInvoiceFlag != null">
                post_invoice_flag = #{postInvoiceFlag,jdbcType=INTEGER},
            </if>
            <if test="productCode != null">
                product_code = #{productCode,jdbcType=VARCHAR},
            </if>
            <if test="productNum != null">
                product_num = #{productNum,jdbcType=INTEGER},
            </if>
            <if test="productCost != null">
                product_cost = #{productCost,jdbcType=DOUBLE},
            </if>
            <if test="productRemark != null">
                product_remark = #{productRemark,jdbcType=VARCHAR},
            </if>
            <if test="invoiceType != null">
                invoice_type = #{invoiceType,jdbcType=INTEGER},
            </if>
            <if test="invoiceTitle != null">
                invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
            </if>
            <if test="postUser != null">
                post_user = #{postUser,jdbcType=VARCHAR},
            </if>
            <if test="postType != null">
                post_type = #{postType,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="addtime != null">
                addtime = #{addtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="payFlag != null">
                pay_flag = #{payFlag,jdbcType=INTEGER},
            </if>
            <if test="payUpdatetime != null">
                pay_updatetime = #{payUpdatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="wPayType != null">
                w_pay_type = #{wPayType,jdbcType=VARCHAR},
            </if>
            <if test="wPayUser != null">
                w_pay_user = #{wPayUser,jdbcType=VARCHAR},
            </if>
            <if test="wPayTel != null">
                w_pay_tel = #{wPayTel,jdbcType=VARCHAR},
            </if>
            <if test="invoiceNo != null">
                invoice_no = #{invoiceNo,jdbcType=VARCHAR},
            </if>
            <if test="kpInvoiceTime != null">
                kp_invoice_time = #{kpInvoiceTime,jdbcType=TIMESTAMP},
            </if>
            <if test="invoiceNoUid != null">
                invoice_no_uid = #{invoiceNoUid,jdbcType=VARCHAR},
            </if>
            <if test="invoiceNoTime != null">
                invoice_no_time = #{invoiceNoTime,jdbcType=TIMESTAMP},
            </if>
            <if test="invoiceNoFlag != null">
                invoice_no_flag = #{invoiceNoFlag,jdbcType=INTEGER},
            </if>
            <if test="invoiceTaxno != null">
                invoice_taxno = #{invoiceTaxno,jdbcType=VARCHAR},
            </if>
            <if test="invoiceAdtel != null">
                invoice_adtel = #{invoiceAdtel,jdbcType=VARCHAR},
            </if>
            <if test="invoiceBankno != null">
                invoice_bankno = #{invoiceBankno,jdbcType=VARCHAR},
            </if>
            <if test="autoopenUrl != null">
                autoopen_url = #{autoopenUrl,jdbcType=VARCHAR},
            </if>
            <if test="cityCode != null">
                city_code = #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=INTEGER},
            </if>
            <if test="pkey != null">
                pkey = #{pkey,jdbcType=VARCHAR},
            </if>
            <if test="plevel != null">
                plevel = #{plevel,jdbcType=INTEGER},
            </if>
            <if test="distCode != null">
                dist_code = #{distCode,jdbcType=VARCHAR},
            </if>
            <if test="haCode != null">
                ha_code = #{haCode,jdbcType=VARCHAR},
            </if>
            <if test="pgps != null">
                pgps = #{pgps,jdbcType=VARCHAR},
            </if>
            <if test="buymonth != null">
                buymonth = #{buymonth,jdbcType=VARCHAR},
            </if>
            <if test="haclcode != null">
                haclcode = #{haclcode,jdbcType=VARCHAR},
            </if>
            <if test="buygroup != null">
                buygroup = #{buygroup,jdbcType=VARCHAR},
            </if>
            <if test="dealtype != null">
                dealtype = #{dealtype,jdbcType=INTEGER},
            </if>
            <if test="contentname != null">
                contentname = #{contentname,jdbcType=VARCHAR},
            </if>
            <if test="provinceCode != null">
                province_code = #{provinceCode,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>