<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.cityreaccount.datavip.dao.DicUserTypeCostMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.mis.cityreaccount.datavip.entity.DicUserTypeCost">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="cost" jdbcType="VARCHAR" property="cost" />
    <result column="cycle" jdbcType="VARCHAR" property="cycle" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="adduid" jdbcType="VARCHAR" property="addUid" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addTime" />
    <result column="updateuid" jdbcType="VARCHAR" property="updateUid" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.cityre.mis.cityreaccount.datavip.entity.DicUserTypeCost">
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>

  <sql id="Base_Column_List">
    id, user_type, cost, cycle, remark, adduid, addtime, updateuid, updatetime
  </sql>

  <select id="selectByUserType" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM dic_user_type_cost
    WHERE user_type =#{userType,jdbcType=VARCHAR}
  </select>

  <sql id="Blob_Column_List">
    note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dic_user_type_cost
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dic_user_type_cost
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="cn.cityre.mis.cityreaccount.datavip.entity.DicUserTypeCost">
    insert into dic_user_type_cost
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="cycle != null">
        cycle,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="adduid != null">
        adduid,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="updateuid != null">
        updateuid,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=VARCHAR},
      </if>
      <if test="cycle != null">
        #{cycle,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="adduid != null">
        #{adduid,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuid != null">
        #{updateuid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        #{note,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cityre.mis.cityreaccount.datavip.entity.DicUserTypeCost">
    update dic_user_type_cost
    <set>
      <if test="userType != null">
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=VARCHAR},
      </if>
      <if test="cycle != null">
        cycle = #{cycle,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="adduid != null">
        adduid = #{adduid,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuid != null">
        updateuid = #{updateuid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>