<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cityre.mis.cityreaccount.datavip.dao.DicUserTypeMapper">
  <resultMap id="BaseResultMap" type="cn.cityre.mis.cityreaccount.datavip.entity.DicUserType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_type_code" jdbcType="VARCHAR" property="userTypeCode" />
    <result column="user_type_name" jdbcType="VARCHAR" property="userTypeName" />
    <result column="user_type_title" jdbcType="VARCHAR" property="userTypeTitle" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="showorder" jdbcType="INTEGER" property="showOrder" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="product" jdbcType="VARCHAR" property="product" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="subtype" jdbcType="VARCHAR" property="subType" />
    <result column="adduid" jdbcType="VARCHAR" property="addUid" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addTime" />
    <result column="updateuid" jdbcType="VARCHAR" property="updateUid" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.cityre.mis.cityreaccount.datavip.entity.DicUserType">
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_type_code, user_type_name, user_type_title, intro, showorder, flag, product, 
    type, subtype, adduid, addtime, updateuid, updatetime
  </sql>

  <select id="selectByType" resultMap="BaseResultMap">
    select DISTINCT user_type_name
    from dic_user_type WHERE dic_user_type.type IN ('dm','creprice')
  </select>
  <sql id="Blob_Column_List">
    note
  </sql>
  <!--通过用户类型标题查询-->
  <select id="selectByTypeTitle" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    FROM dic_user_type
    where user_type_title = #{userTypeTitle,jdbcType=VARCHAR}
  </select>
  <!--通过主键查询-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dic_user_type
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dic_user_type
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="cn.cityre.mis.cityreaccount.datavip.entity.DicUserType">
    insert into dic_user_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userTypeCode != null">
        user_type_code,
      </if>
      <if test="userTypeName != null">
        user_type_name,
      </if>
      <if test="userTypeTitle != null">
        user_type_title,
      </if>
      <if test="intro != null">
        intro,
      </if>
      <if test="showorder != null">
        showorder,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="product != null">
        product,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="subtype != null">
        subtype,
      </if>
      <if test="adduid != null">
        adduid,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="updateuid != null">
        updateuid,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userTypeCode != null">
        #{userTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="userTypeName != null">
        #{userTypeName,jdbcType=VARCHAR},
      </if>
      <if test="userTypeTitle != null">
        #{userTypeTitle,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="showorder != null">
        #{showorder,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="product != null">
        #{product,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="subtype != null">
        #{subtype,jdbcType=VARCHAR},
      </if>
      <if test="adduid != null">
        #{adduid,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuid != null">
        #{updateuid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        #{note,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.cityre.mis.cityreaccount.datavip.entity.DicUserType">
    update dic_user_type
    <set>
      <if test="userTypeCode != null">
        user_type_code = #{userTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="userTypeName != null">
        user_type_name = #{userTypeName,jdbcType=VARCHAR},
      </if>
      <if test="userTypeTitle != null">
        user_type_title = #{userTypeTitle,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="showorder != null">
        showorder = #{showorder,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="product != null">
        product = #{product,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="subtype != null">
        subtype = #{subtype,jdbcType=VARCHAR},
      </if>
      <if test="adduid != null">
        adduid = #{adduid,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuid != null">
        updateuid = #{updateuid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>